<!DOCTYPE html>
<html>
<head> 
<title>团购-订单提交成功</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="Cache-control" content="max-age=1700">
<meta name="viewport" content="user-scalable=no, width=device-width">
<meta name="MobileOptimized" content="320">
<meta name="author" content="kesion.com">
<meta name="format-detection" content="telephone=no">

<link href="{$GetSiteUrl}3g/images/style.css" rel="stylesheet" type="text/css">
<script src="{$GetInstallDir}ks_inc/jquery.js" type="text/javascript"></script>
<script src="{$GetInstallDir}ks_inc/Kesion.common.js" type="text/javascript"></script>
<style>
tr td{ line-height:20px}
.price{font-size:12px;color:#e00;font-weight:bold;}
.freight{color:green;font-size:12px;}
.tgcart{width:300px;margin:0 auto;margin-top:15px;padding:5px 10px; text-align:center; background:#fff}
.tgcart .zfptbtn{ height:30px; line-height:30px; background:#c00;border:0px;color:#fff; cursor:hand;font-size:15px; font-family:"微软雅黑";margin-top:10px}
</style>
</head>
<body>
	{KS:LoadFile("head.html")}



	<div class="clear blank15"></div>

		<!--团购购物车begin-->
		<div class="tgcart" style=" line-height:40px;font-size:14px;padding:10px 0px;color:#0b46cc">
		
			   [KS:OrderSubmitTips]
		 
		
		
		
		</div>
	</div>

<div style="height:60px"></div>  
	</body>
</html>