{KS_3G_底部导航}
<div class="navmain">
	<div class="fl">
		<a href="javascript:;" onClick="history.back()" class="returnbtn">&nbsp;</a>
	</div>
	<div class="fr">
		<a href="#" onClick="openShutManager(this,'ejlmbox')" class="openmore" title="展开栏目">&nbsp;</a>
	</div>
	逛商城
</div>
{KS_3G_通用栏目导航}

<!--<div class="shopbanner"><img src="http://market.360buy.com/hd/campaign/activities20110425/images/ribai06.jpg" /></div>-->
<!--<div class="mygwcbtn">
   <ul class="shopnav">
      <li>
         <a href="/3g/limitbuyindex.aspx"><i class="c1"><img src="/3g/images/nav3.png"></i><em>抢购</em></a>
         <a href="/3g/groupbuyindex.aspx"><i class="c5"><img src="/3g/images/nav4.png"></i><em>团购</em></a>
         <a href="/3g/shoppingcart.aspx"><i class="c6"><img src="/3g/images/nav2.png"></i><em>购物车</em><strong><script src='/shop/GetCartNum.aspx'></script></strong></a>
         <a href="/3g/order.aspx"><i class="c8"><img src="/3g/images/nav1.png"></i><em>订单</em></a>
      </li>
   </ul>
</div>-->
