<?xml version="1.0"?>
<labeltemplate>

  <!--列表页模板开始-->
   <label name="board">
    <![CDATA[
	
	      <li class="r{KS:Field:AutoID}">
             <a href="#">{KS:Field:ICO}</a>
             <h2><a href="{KS:Field:BoardURL}">{$Field(BoardName,text,0,...,2,)}</a></h2>
             <i>版主：{$Field(BoardMaster,text,0,...,2,)}</i>
             <span class="xinxi">
                 <span>今日:{KS:Field:TodayNum}</span>
                <span>主题:{$Field(TopicNum,text,0,...,2,)} </span>
                <span>帖数:{$Field(PostNum,text,0,...,2,)} </span>
             </span>
             
             <div class="dask">
				<span>{$Field(Intro,text,0,...,2,)}</span>
                <a class="enterzt" href="{KS:Field:BoardURL}">进入主题</a>
                <a class="enterpost" href="post.aspx?bid={$Field(BoardID,text,0,...,2,)}">发帖</a>
			</div>
          </li>

   ]]>
   </label>
   
   <label name="replyloop">
    <![CDATA[
	
	              <dl id="replylist{KS:Field:TopicId}">
				      [loop]
                     <dd id="myreply{KS:Field:PostID}">
                        <span class="pic2"><a href="/space/?{$Field(UserID,text,0,...,2,)}" target="_blank"><img src="/uploadfiles/avatar/{$Field(UserID,text,0,...,2,)}.jpg" alt="{$Field(UserName,text,0,...,2,)}" onerror="this.src='/sysimg/face/boy.jpg'"/></a></span>
                        <div class="autho">
                           <span class="man">{KS:Field:UserName}</span><span class="time">{KS:Field:PostTime}</span> <span{KS:Field:ShowDel}><a class="delreplyBtn" href="javascript:;" topicid="{KS:Field:TopicId}" postid="{KS:Field:PostID}">删除</a></span>
                           <p>{KS:Field:Content}</p>
                        </div>
						
                     </dd>
					  [/loop]
                  </dl>

                  [more]
                  <a class="more" href="show.aspx?Id={KS:Field:TopicId}" target="_blank">查看更多回复(<span class="rnum{KS:Field:TopicId}">{$Field(PostNum,text,0,...,2,)}</span>)</a>
	              [/more]
		 

   ]]>
   </label>
  <!--列表页模板开始-->

   
   <!--详情页模板开始-->
   
   <label name="viewreplyloop">
    <![CDATA[
	
	            <dd  id="myreply{KS:Field:PostID}">
                        <span class="pic2"><a href="/space/?{$Field(UserID,text,0,...,2,)}" target="_blank"><img src="/uploadfiles/avatar/{$Field(UserID,text,0,...,2,)}.jpg" alt="{$Field(UserName,text,0,...,2,)}" onerror="this.src='/sysimg/face/boy.jpg'"/></a></span>
                        <div class="autho">
                           <span class="man">{$Field(username,text,11,,2,)}</span><span class="time">回复于{KS:Field:PostTime}</span> {KS:Field:Floor}
                          <span><a class="delreplyBtn" href="javascript:;" topicid="{KS:Field:TopicId}" postid="{KS:Field:PostID}">删除</a></span>
                           <p>{KS:Field:Content}</p>
                        </div>
               </dd>
	
   ]]>
   </label>
   
   <!--详情页模板结束-->
   
   
   
   <label name="tips">
      <notopic><![CDATA[ <div style="border:1px solid #ccc;background:#fff;text-align:center;padding:20px;">对不起，该版面没有话题! </div> ]]></notopic>
      <novisitorview><![CDATA[ 对不起，该版面不允许游客查看! ]]></novisitorview>
      <noallowview><![CDATA[ 对不起，您没有浏览该版面的权限! ]]></noallowview>
      <noallowreplyowntopic><![CDATA[ 对不起，不允许回复自己的话题! ]]></noallowreplyowntopic>
      <noverifyreply><![CDATA[ 话题回复成功，但需要审核后才能显示! ]]></noverifyreply>
      <posttopicnumlimit><![CDATA[ 对不起，本版面限制每个会员每天只能发表{0}个主题! ]]></posttopicnumlimit>
      <postlenlimit><![CDATA[ 对不起，本版要求发表的话题字数不少于{0}个字! ]]></postlenlimit>
      <postpertime><![CDATA[ 对不起，本版发帖间隔时间为{0}秒! ]]></postpertime>
      <posttimelimit><![CDATA[ 对不起，本版在{0}点至{1}点之间限制发表! ]]></posttimelimit>
	  <nologin>对不起，请先登录!</nologin>
      <newreglimittime><![CDATA[ 对不起，新注册的会员{0}分钟后才允许发表! ]]></newreglimittime>
   </label>

   
</labeltemplate>