<?xml version="1.0"?>
<labeltemplate>
   <label>
    <![CDATA[

	<table width="100%" border="0" cellpadding="1" cellspacing="1" class="ctable">
		[recordloop]
		<tr>
		 <td width="200" class="cleft">
		 <label>
		 <input type="radio" name="DeliveryID" onclick="OrderCalculat();" value="{KS:DeliveryID}" {KS:Checked}/>
		 <input type="hidden" name="Freight_{KS:DeliveryID}" value="{KS:Freight}" id="Freight_{KS:DeliveryID}" value="0" />
		 {KS:DeliveryName}
		 </label>
		 </td>
		 <td>
		  <font color="#666666"> {KS:ShowFreight}</font> {KS:ShowPromotInfo}<br/>
		 <font color="#999999">{KS:Intro}</font>
		 </td>
		</tr>
		[/recordloop]
	
	</table>
	 <br/>
   
	]]>
   </label>
</labeltemplate>