<?xml version="1.0"?>
<labeltemplate>
   <label name="1">
    <![CDATA[
	    <table border="0" width="100%" style="margin-bottom:6px;border-bottom:1px solid #cccccc">
		<tr>
		 <td width="120" align="center">
		 
		 
        <div style="width:58px;">
          <div style="padding-top:10px;text-align:center;background:url({$GetSiteUrl}/sysimg/vote_bg_t.png) #FFF no-repeat;height:60px;"> <span id="s0{@ItemID}" style="font-weight:bold;"></span> <br />
              <span>人支持</span> </div>
          <div style="cursor:hand;padding-top:2px;height:25px;text-align:center;background: url({$GetInstallDir}sysimg/vote_bg_b.png)  no-repeat center 0;" id="d0{@ItemID}"> <span onClick="javascript:digg(0,{@ModelID},{@ItemID},'{$GetSiteUrl}');">顶一下</span> </div>
        </div>
       <script language="javascript">show_digg(0,{@ModelID},{@ItemID},'{$GetSiteUrl}');</script>
	  
		 
		 </td>
		 <td align="left"> 
		  <div style="height:25px;line-height:25px"><a class="link" target="_blank" title="{@Title}" href="{@LinkUrl}">{@Title}</a> <span style="font-size:12px">(发布时间： {@PubDate})</span>  </div>
		  <div>{@Intro}</div>
		  <div>分类：{@ClassName} 支持：{@SupportNum} 反对：{@AgainstNum}</div>
		 </td>
		</tr>
		</table>
	]]>
   </label>
   <label name="2">
    <![CDATA[
	    样式二
  	]]>
   </label>
  <label name="3">
    <![CDATA[
	    样式三
  	]]>
  </label>
   
</labeltemplate>