<?xml version="1.0"?>
<template>
<type name="categorylist">
<![CDATA[
     
	 <link href="{$GetSiteUrl}{$GetExamInstallDir}/images/menu.css" type=text/css rel=stylesheet>
	 <script src="{$GetSiteUrl}{$GetExamInstallDir}/images/tag.js"></script>
			 <div class="left">
				 <div style="display: block;" class="testclass" id="cosNav_wrap">
					 <div class="inner">
					   <ul id="cos_nav" onmouseout="COS.nav.hide()" onmouseover="COS.nav.show()">
					    {$CategoryItemList}
					   </ul>
					 </div>
				</div>
		    </div>
]]>
</type>


</template>
