<?xml version="1.0"?>
<template>

<type name="step1">
<![CDATA[
<script>
   var verifyCode={$MustVerifyCode};
   function checkmyform(){
    if (document.getpassform.UserName.value==''){
	  $.dialog.alert('请输入您的用户名！',function(){
	  document.getpassform.UserName.focus();
	  });
	 return false
	}
	var gettype=jQuery('#gettype option:selected').val();
	if (gettype==1){
		if ($("#Email").val()==''){
		  $.dialog.alert('请输入您的邮箱！',function(){ $("#Email").focus(); });
		 return false
		}
	}else if (gettype==3){
		if ($("#Mobile").val()==''){
		  $.dialog.alert('请输入您的手机号码！',function(){ $("#Mobile").focus(); });
		 return false
		}else if (ismobile($("#Mobile").val())==false){
		  $.dialog.alert('手机号码格式不正确，请重新输入！',function(){ $("#Mobile").focus(); });
		  return false;
		}
	}
	if (verifyCode==1){
	    if ($("#VerifyCode").val()==''){
		  $.dialog.alert('请输入验证码！',function(){ $("#VerifyCode").focus(); });
		 return false
		}
	}
	return true;
  }
 function showtype(){
  v=jQuery('#gettype option:selected').val();
  if(v==1){
	   jQuery('#showemail').show();
	   jQuery('#showmobile').hide();
  }else if (v==3){
	   jQuery('#showemail').hide();
	   jQuery('#showmobile').show();
  }else{
	  jQuery('#showemail').hide();
	  jQuery('#showmobile').hide();
  }
 }
 $(document).ready(function(){
   showtype();
 });
</script>
<form name="getpassform" action="{=GetRewriteUrl(getpassword)}" method="post"/>
	<input type="hidden" name="action" value="next"/>
	<ul>
		<li><span>找回方式：</span><select class="select" name="gettype" id="gettype" onchange="showtype();">{$ShowMobileOption}<option value="1">邮箱找回</option><option value="2">安全问题找回</option></select></li>
		<li><span>用 户 名：</span><input type="text" name="UserName" class="text"/></li>
		<li style="display:none" id="showemail"><span>电子邮箱：</span><input type="text" name="Email" id="Email" class="text"/></li><font>填写您在本站注册时使用的Email.</font>
		<li id="showmobile"><span>手机号码：</span><input type="text" name="Mobile" id="Mobile" class="text"/></li><font>填写您在本站绑定的手机号码.</font>
		<li{$DisplayVerifyCode}><span>验证码：</span><input type="text" style="width:60px" maxlength="6" name="VerifyCode" id="VerifyCode" class="text"/>{$Show_VerifyCode}请输入验证码.</li>
		<li><span>&nbsp;</span> <input class="getpassbtn" type="submit" value="确定提交" onclick="return(checkmyform())"/></li>
	</ul>
</form>
]]>
</type>

<type name="step2">
<![CDATA[
	<h1>请回答您设置的密码答案</h1>
	<form name="getpassform" action="{=GetRewriteUrl(getpassword)}" method="post"/>
	<input type="hidden" name="action" value="next2"/>
		<ul>
			<li style="padding-bottom:0px"><span>用 户 名：</span><input type="hidden" value="{$UserName}" name="UserName" class="text"/>{$UserName}</li>
			<li><span>您的问题：</span>{$Question}</li>
			<li id="showemail"><span>您的答案：</span><input type="text" name="Answer" id="Answer" class="text"/></li>
			<li><span>&nbsp;</span><input class="getpassbtn" type="submit" value=" 提交答案 "/></li>
		</ul>
	</form>
	</table>
	</div>
]]>
</type>

<type name="step3">
<![CDATA[
	<h2>恭喜，您的密码取回答案回答正确，请设置新密码</h2>
	<form name="getpassform" action="{=GetRewriteUrl(getpassword)}" method="post"/>
	<input type="hidden" name="action" value="next3"/>
		<ul>
			<input type="hidden" name="answer" value="{$Answer}"/>
			<input type="hidden" name="username" value="{$UserName}"/>
			<li><span>用 户 名：</span>{$UserName}</li>
			<li><span>新 密 码：</span><input type="password" name="PassWord" id="PassWord" class="text"/></li>
			<li><span>确定密码：</span><input type="password" name="RePassWord" id="RePassWord" class="text"/></li>
			<li><span>&nbsp;</span><input class="getpassbtn" type="submit" value="确定重置" onclick="return(checkgetform())"/></li>
		</ul>	
	</form>
</div>
]]>
</type>

<type name="step4">
<![CDATA[
	<h2>邮件验证通过，请重置您的登录密码</h2>
	<form name="getpassform" action="{=GetRewriteUrl(getpassword)}" method="post"/>
	<input type="hidden" name="UserID" value="{$UserID}"/>
	<input type="hidden" name="CheckNum" value="{$CheckNum}"/>
	<input type="hidden" name="action" value="doget"/>
		<ul>
			<li><span>用 户 名：</span>{$UserName}</li>
			<li><span>新 密 码：</span><input type="PassWord" name="PassWord" class="text"/></li>
			<li><span>重复密码：</span><input type="PassWord" name="RePassWord" class="text"/></li>
			<li><span>&nbsp;</span> <input class="getpassbtn" type="submit" value="确定重置" onclick="return(checkgetform())"/></li>
		</ul>
</form>
</div>
]]>
</type>

<type name="step5">
<![CDATA[

<script>
var OutTimes={$OutTimes};
var SessionID="{$SessionID}";
var tOutTimes=OutTimes;
function leavePage() {
		 if (tOutTimes==0){
		 tOutTimes=OutTimes;
		 $("#SendMobileBtn").attr("disabled",false);
		 $("#SendMobileBtn").val("免费获取手机验证码")
		 }
		 else{
		 tOutTimes -= 1;
		 $("#SendMobileBtn").val("已发，如果"+tOutTimes+"秒后没有收到，可以重发!")
		 setTimeout("leavePage()", 1000);}
}

function getMobileCode(){
	var mobile="{$Mobile}";
	if (mobile==''){
	  $.dialog.alert('没有绑定手机号，无法通过手机验证取回密码！',function(){});
	   return false;
	}
	if (ismobile(mobile)==false){
	  $.dialog.alert('手机号码格式不正确，无法通过手机验证取回密码！',function(){});
	  return false;
	}
	$("#SendMobileBtn").attr("disabled",true);
	$.ajax({type:"get",async:false,url:"{$GetInstallDir}user/regajax.ashx?istest=0&action=sendmobilecode&model=getpass&mobile="+mobile+"&SessionID="+SessionID+"&anticache=" + Math.floor(Math.random()*1000),cache:false,dataType:"html",success:function(d){
		 if (d=='true'){
			leavePage();
		 }else{
			$.dialog.alert(d,function(){ $("#SendMobileBtn").attr("disabled",false); });
		 }
	}});
	return false;
	
}
 function checkform(){
   if ($("#MobileCode").val()==''){
    $.dialog.alert('请输入手机验证码！',function(){ $("#MobileCode").focus(); });
	return false;
   }
   return true;
 }
   </script>

	<h1>请输入手机验证码</h1>
	<form name="getpassform" action="{=GetRewriteUrl(getpassword)}" method="post"/>
	<input type="hidden" name="action" value="mobilecodecheck"/>
		<ul>
			<li style="padding-bottom:0px"><span>用 户 名：</span><input type="hidden" value="{$UserName}" name="UserName" class="text"/>{$UserName}</li>
			<li><span>您的手机：</span>{$Mobile} <input type="button" id="SendMobileBtn" onclick="getMobileCode()" value="免费获取手机验证码"/></li>
			<li id="showemail"><span>手机验证码：</span><input maxlength="6" type="text" name="MobileCode" id="MobileCode" class="text"/></li>
			<li><span>&nbsp;</span><input onclick="return(checkform())" class="getpassbtn" type="submit" value=" 提交验证 "/></li>
			
		</ul>
	</form>
	</table>
	</div>
]]>
</type>
<type name="step6">
<![CDATA[
	<h2>手机验证通过，请重置您的登录密码</h2>
	<form name="getpassform" action="{=GetRewriteUrl(getpassword)}" method="post"/>
	<input type="hidden" name="UserName" value="{$UserName}"/>
	<input type="hidden" name="MobileCode" value="{$MobileCode}"/>
	<input type="hidden" name="action" value="dogetbymobile"/>
		<ul>
			<li><span>用 户 名：</span>{$UserName}</li>
			<li><span>新 密 码：</span><input type="PassWord" name="PassWord" class="text"/></li>
			<li><span>重复密码：</span><input type="PassWord" name="RePassWord" class="text"/></li>
			<li><span>&nbsp;</span> <input class="getpassbtn" type="submit" value="确定重置" onclick="return(checkgetform())"/></li>
		</ul>
</form>
</div>
]]>
</type>


<type name="mailtitle">[{$GetSiteName}]取回密码说明！</type>
<type name="mailcontent">
	<![CDATA[
	亲爱的 {$UserName} 您好：<br/>
	<br/>这是由[{$GetSiteName}]网站用于取回用户密码发送的邮件！<br/>----------------------------------------------------------------------<br/><strong>密码重置说明</strong><br/>----------------------------------------------------------------------<br/>请点击以下链接重置您的密码：<br/><a href="{$CheckUrl}" target="_blank">{$CheckUrl}</a><br/><span style="color:#999999">(如果上面不是链接形式，请将该地址手工粘贴到浏览器地址栏再访问)</span><br/>在上面的链接所打开的页面中输入新的密码后提交，您即可使用新的密码登录网站了。您可以在用户控制面板中随时修改您的密码。<br/>本请求提交者的 IP 为 {$UserIP}<br/>此致<br/>{$GetSiteName}&nbsp;&nbsp;{$GetSiteUrl}
	
	]]>
</type>

<type name="errorusername">
<![CDATA[
<div class="nouser">
对不起，您输入的用户名[<font color=green>{$UserName}</font>]不存在！
<div style="text-align:center"><a href="javascript:history.back();">点此返回</a></div>
</div>
]]>
</type>

<type name="optionmobilename">
手机认证取回
</type>
<type name="errortips">
  <username>请输入用户名！</username>
  <email>请输入邮件地址！</email>
  <valideemail>您输入的邮箱地址不正确！</valideemail>
  <mobile>请输入手机号码！</mobile>
  <mobilecode>请输入手机验证码！</mobilecode>
  <mobilecodeempty>手机验证码失效，请重新验证！</mobilecodeempty>
  <mobilecodeerr>对不起，您输入的手机验证码有误，请重新输入！</mobilecodeerr>
  <nouser>对不起，您输入的用户不存在！</nouser>
  <useremailerr>对不起，用户名和绑定的邮箱地址不一致！</useremailerr>
  <answer>请输入您设置的取回密码问题答案！</answer>
  <newpassword>请输入您的新密码！</newpassword>
  <errnewpassword>两次输入的密码不一致！</errnewpassword>
  <verifycode>验证码不正确请重新输入！</verifycode>
</type>

<type name="errornotquestion">
<![CDATA[
对不起，用户{$UserName}未设置密码安全问题和答案，无法通过安全问题方式找回密码，请选择其它方式！
<div style="text-align:center"><a href="javascript:history.back();">点此返回</a></div>
]]>
</type>
<type name="errornotmobile">
<![CDATA[
对不起，用户{$UserName}未绑定手机，无法通过手机验证码方式找回密码，请选择其它方式！
<div style="text-align:center"><a href="javascript:history.back();">点此返回</a></div>
]]>
</type>

<type name="errormobile">
<![CDATA[
对不起，您输入的手机号{$Mobile}与用户{$UserName}绑定的手机号不一致，请重新输入！
<div style="text-align:center"><a href="javascript:history.back();">点此返回</a></div>
]]>
</type>

<type name="erroranswer">
<![CDATA[
<div class="nouser">
对不起，您输入的答案[{$Answer}]不正确！
<div style="text-align:center"><a href="javascript:history.back();">点此返回</a></div>
</div>
]]>
</type>


<type name="getsuccess">
<![CDATA[
恭喜，取回密码的方法已通过 Email 发送到您的信箱<span style="color:red">{$Email}</span>中,请注意查收！
]]>
</type>
<type name="geterror">
<![CDATA[
对不起，邮件发送失败，原因:{$ErrorMessage}！
]]>
</type>
<type name="valideerror">
<![CDATA[
对不起，您访问的链接地址已失败或是您非法访问！
]]>
</type>

<type name="validesuccess">
<![CDATA[
恭喜您<font color=red>{$UserName}</font>，您的新密码已重置成功，新密码为：<font color=green>{$PassWord}</font>,现在可以<a href="{=GetRewriteUrl(userlogin)}">点此登录</a>了！
]]>
</type>
</template>
