<?xml version="1.0"?>
<labeltemplate>
   <label name="10">
    <![CDATA[
    <table class="classborder" height="180" width="99%" align="center" border="0" cellPadding="0" cellSpacing="0" style="margin-bottom:3px;border:1px solid #E8F0FB">
	  <tr>
		<td style="background:url(/sysimg/pic13.gif);height:28px;padding-left:10px"><a href="[KS:SpecialClassLink]">[KS:SpecialClassName]</a></td>
	  </tr>
	  <tr>
	   <td valign="top">
		   [!--speciallooplist--]
		</td>
	 </tr>
	</table>
	]]>
  </label>
  <label name="20">
    <![CDATA[
	  <div class="classborder">
	   <h2><a href="[KS:SpecialClassLink]">[KS:SpecialClassName]</a></h2>
	   <div class="list"><ul>[!--speciallooplist--]<ul></div>
	  </div>
  	]]>
  </label>
  
</labeltemplate>