<?xml version="1.0"?>
<labeltemplate>
   <label name="1">
    <![CDATA[
	    <li class="first"><dl><dt><a target="_blank"{KS:LinkUrl}><img src="{KS:DefaultPic}" /></a><img src="{$GetInstallDir}sysimg/shop/icon_qiang.gif" class="q"/></dt><dd class="p_Name"><a target="_blank"{KS:LinkUrl}>{KS:Title}<font color="#FF0000" ></font></a></dd><dd class="p_Price1">市场价：<em>￥{KS:Price_Market}</em>&nbsp;&nbsp;剩余：{KS:Amount} {KS:Unit}&nbsp;&nbsp;</dd><dd class="p_Price" >抢购价：<strong>￥{KS:LimitBuyPrice}</strong> </dd></dl></li>
	]]>
   </label>
   <label name="2">
    <![CDATA[
	    <li class="first">
		 <a target="_blank"{KS:LinkUrl}><img src="{KS:DefaultPic}" /></a>
		 <br/>会员价：<em>￥{KS:Price_Member}</em>&nbsp;&nbsp;剩余：{KS:Amount} {KS:Unit}&nbsp;&nbsp;</dd><dd class="p_Price" >抢购价：<strong>￥{KS:LimitBuyPrice}</strong> </li>
	]]>
   </label>
   <label name="3">
    <![CDATA[
	    自定义抢购显示样式,可用标签如下:
		{KS:Title}
		{KS:Price_Market}
		{KS:Price_Member}
		{KS:Price}
		{KS:LimitBuyPrice}
		{KS:Amount}
		{KS:LinkUrl}
		{KS:Unit}
		{$GetInstallDir}
	]]>
   </label>
</labeltemplate>