<?xml version="1.0"?>
<pagetemplate>
  <item name="1" issys="1" title="经典分页样式">
    <tp>&lt;div class="fengye"&gt;共&lt;span id="totalrecord"&gt;{$totalput}&lt;/span&gt;{$itemunit} 页次:&lt;span id="currpage" style="color:red"&gt;{$currentpage}&lt;/span&gt;/&lt;span id="totalpage"&gt;{$totalpage}&lt;/span&gt;页 &lt;span id="perpagenum"&gt;{$maxperpage}&lt;/span&gt;{$itemunit}/页 
&lt;a href="{$homeurl}"&gt;首页&lt;/a&gt;  &lt;a href="{$prevurl}"&gt;上一页&lt;/a&gt; &lt;a href="{$nexturl}"&gt;下一页&lt;/a&gt;  &lt;a href= "{$endurl}"&gt;尾页&lt;/a&gt;
 转到：{$turnpage}&lt;/div&gt;</tp>
  </item>
  <item name="2" issys="1" title="主流分页样式">
    <tp>&lt;div class="fenye" id="fenye"&gt;
  &lt;table border="0"&gt;&lt;tr&gt;&lt;td id="pagelist"&gt;
	 &lt;a href="{$homeurl}" class="prev" style="display:none"&gt;首 页&lt;/a&gt; &lt;a href="{$prevurl}" class="next"&gt;&lt;img src="/SysImg/fl.png" /&gt;&lt;/a&gt;
		 {$pagenumlist(15)}
	 &lt;a href="{$nexturl}" class="next"&gt;&lt;img src="/SysImg/fr.png" /&gt;&lt;/a&gt;
	 &lt;a href="{$endurl}" class="prev" style="display:none"&gt;末页&lt;/a&gt; &lt;/td&gt;&lt;/tr&gt;&lt;/table&gt;
&lt;/div&gt;
	</tp>
  </item>
  <item name="3" issys="1" title="手机版专用分页">
    <tp>&lt;div class="fengye"&gt;页次:&lt;span id="currpage" style="color:red"&gt;{$currentpage}&lt;/span&gt;/&lt;span id="totalpage"&gt;{$totalpage}&lt;/span&gt;页
&lt;a href="{$homeurl}"&gt;首页&lt;/a&gt;  &lt;a href="{$prevurl}"&gt;上一页&lt;/a&gt; &lt;a href="{$nexturl}"&gt;下一页&lt;/a&gt;  &lt;a href= "{$endurl}"&gt;尾页&lt;/a&gt;
 &lt;/div&gt;</tp>
  </item>
</pagetemplate>