<?xml version="1.0"?>
<labeltemplate>
   <label>
    <![CDATA[
		<div class='l_one'>
			<div class='tit'><h3 class='l'><span>[观点PK]</span><a href="pk.aspx?id={@PKID}" target="_blank">{@PKTitle}</a></h3><div class='timebg' id="t{@PKID}">{@ExpireDate}</div>
					<script>
					 var timeLimit={@TimeLimit};
					 if (timeLimit==0){
					   jQuery("#t{@PKID}").html("该PK没有时间限制");
					 }
					</script>
			</div>		
			<div class='clear'></div>
			<ul>
				<li class='li01'>
					<h4>正方</h4>
					<div class='li_intro'>{@ZFGD}</div>
					<div class='pkpiao'>
						<a href="pk.aspx?id={@PKID}" target="_blank">[投票支持]</a>已有 <font>{@ZFVotes}</font> 票支持。
					</div>
				</li>
				
				<li class='li03'>
					<h4>反方</h4>
					<div class='li_intro'>{@FFGD}</div>
					<div class='pkpiao'>
						<a href="pk.aspx?id={@PKID}" target="_blank">[投票支持]</a>已有 <font>{@FFVotes}</font> 票支持。
					</div>
				</li>
			</ul>	
			<div class='clear'></div>
		</div>
	]]>
   </label>
</labeltemplate>
