<?xml version="1.0"?>
<labeltemplate>
   <label>
    <![CDATA[
	   <table border="0" width="100%" style="margin-bottom:6px;border-bottom:1px solid #cccccc">
		<tr>
		 <td width="120" align="center">
                   <img src="{@UserFaceSrc}" border="0" width="45" height="45" /> 
		 </td>
		 <td align="left"> 
		   <div>{@UserName} IP:{@UserIP} 时间:{@PubTime}</div>
                   <div>{@Content}</div>
		 </td>
		</tr>
	   </table>
	]]>
   </label>
</labeltemplate>