<?xml version="1.0"?>
<labeltemplate>
   <label>
    <![CDATA[
	    <link rel="stylesheet" href="/KS_Inc/prettyPhoto/prettyPhoto.css" type="text/css" media="screen" title="prettyPhoto main stylesheet" charset="utf-8" />
        <script src="/KS_Inc/prettyPhoto/jquery.prettyPhoto.js" type="text/javascript" charset="utf-8"></script>
	       <style type="text/css">
		    .askshowlist{border-bottom:1px solid #f1f1f1}
			.askshowlist li{line-height:26px;}
            .askshowlist span.question{font-weight:bold}
			
			.askpiclist .askimg img{width:50px;height:50px;boarder:1px solid #f1f1f1;}
			.askpiclist dd.askimg{float:left;width:55px;}
			 ul.askpiclist{padding-left:40px;clear:both;}
			 .pageList td a{padding:5px;border:1px solid #ccc;dispaly:block;float:left;margin-right:5px;}
		   </style>

            <script>
			
			 jQuery(document).ready(function(){
			   loadAskForm(1);
			 });
		
			 function loadAskForm(page){
				  jQuery.ajax({
				   type: "POST",
				   url: "{$GetInstallDir}shop/ProComment.ashx",
				   data: "page="+page+"&proid={KS:Current:ItemID}&action=LoadAskForm",
				   success: function(data){
				        var d=data.split("$#$");
						$("#askform").html(d[0]);
						$("#showasklist").html(d[1]);
						$("#totalAskNum").html(d[2]);
						$(".askpiclist a[rel^='prettyPhoto']").prettyPhoto({theme:'dark_square'});
						
						/*$(".askpiclist").find("img").each(function(){
						 $(this).click(function(){
						   window.open($(this).attr("src"));
						 });
						});*/
				   }
				});
			 }
			
			
	 function limitLength(obj){
	   if(obj.value.length >= 255) 
			  event.returnValue = false; 
	 }
	 function checkAsk(){
	  var content=$("#askcontent").val();
	  if (content==''){
	   KesionJS.Alert('请输入要咨询的内容!',"$('#askcontent').focus()");
	   return false;
	  }
	  var askPic='';
	  $("#showaskpic").find("img").each(function(){
	     if (askPic==''){
		  askPic=$(this).attr("src");
		 }else{
		   askPic+="|"+$(this).attr("src");
		 }
	  });
	  
	  jQuery.ajax({
				   type: "POST",
				   cache:false,
				   url: "{$GetInstallDir}shop/ProComment.ashx",
				   data: "proid={KS:Current:ItemID}&action=SaveAsk&content="+content+"&askPic="+askPic,
				   success: function(data){
					 if (data=="nologin"){
					  showuserlogin();
					 }else if (data.indexOf('error:')!=-1){
					  KesionJS.Alert(data.split(':')[1]);
					 }else if (data=='success'){
					  loadAskForm(1);
					   KesionJS.Message('success.gif','恭喜，您的咨询已提交，请耐心等待商家的回复！','');
					 }else{
					  KesionJS.Alert('出错！');
					 }
				   }
				});
	  
	 }
	 function showAskPic(s){
	  var d=unescape(s).split('|');
	  var str="<img src='"+d[0]+"' width='50' height='50' style='margin:5px;border:1px solid #ccc;padding:1px'/>";
	  $("#showaskpic").append(str);
	 }
	 </script>

	       <div style="height:34px;line-height:34px;padding:15px;font-size:15px; font-family:'微软雅黑'">商家问答列表</div>
		   <table width="100%" class="commentlist" cellspacing="0" cellpadding="0">
		    <tr>
			 <td>
			    <div id="showasklist"></div>
			 </td>
			 
			</tr>
		   </table>
		 
		<div class="cmtcontent" id="askform">loading...</div>

	]]>
   </label>
   
   <askform>
    <![CDATA[
	 
	 问商家问题：<span style="color:#999">（问题提交后显示可能会延迟，请耐心等待）限制255个字符</span>
	 <br/>
	 <textarea name="askcontent" id="askcontent" onkeydown="limitLength(this)" style="width:100%;height:100px;border:1px solid #ddd;border-top:1px solid #ccc;margin-top:10px"></textarea>
	 
	 <table>
	 <tr>
	  <td style="width:180px" valign="top">
	  <div style="text-align:left"><input type="button" onclick="checkAsk()" value=" 提 交 咨 询 " class="askbtn" style="font-weight:bold;width:150px;height:44px; background:#fff url(/images/shop/bg12.png) repeat-x 0 100%;border:1px solid #ddd;border-radius: 3px;margin-top:15px;color:#fff;font-size:18px;
	  font-family:微软雅黑" /></div>
	 </td>
	 <td valign="top" style="padding-top:22px;">
		 <table border="0" cellspacing="0" cellpadding="0"{$DisplayAskPic}>
		  <tr>
		   <td width="75"><strong>我来晒图：</strong></td>
		  <td>
		  <div class="showaskpic" id="showaskpic"></div>
		  <iframe id='upiframe' name='upiframe' src='/user/include/UploadAttachment.aspx?ChannelID=20000' frameborder=0 scrolling=no width='420' height='24'></iframe>
		 </td>
		</tr>
		</table>
	</td>
	</tr>
	</table>
		
	]]>
   </askform>
   
   <loopitem>
    <![CDATA[
	 
	 <div class="askshowlist">
	   <li><span style="float:right;color:#999">{KS:Field:Adddate}</span> <img src='{$GetInstallDir}sysimg/shop/ask.gif' align="middle"/><span class="question">问：{KS:Field:Content}</span>
	   {KS:Field:ShowPics}
	   </li>
	   <li id="Reply{KS:Field:ID}"><span style="float:right;color:#999">{KS:Field:Replydate}</span> <img src='{$GetInstallDir}sysimg/shop/answer.gif' align="middle"/>答：{KS:Field:ReplyContent}</li>
	 </div>
	 
	]]>
   </loopitem>
   
   
   
</labeltemplate>