<?xml version="1.0"?>
<labeltemplate>
   <label>
    <![CDATA[

	
	<table class='ShoppingCart' cellpadding='1' cellspacing='1' width='100%'>
 <tr class='Thead'>
    <td style="height:30px">商品名称</td>
    <td>市场价</td>
    <td>{$GetSalesPriceName}</td>
    <script>if ("{=getshopcommonconfig(43)}"=="1") document.write('<td>参与优惠活动</td>'); </script>
    <td>发货方式</td>
    <td>商品数量</td>
    <td>小计</td>
    <td>赠送积分</td>
 </tr>

 [recordloop]
<tr class='tdbg'>
     <td class='align_Left' style="text-align:left">
	   <table border='0'>
	   <tr>
	    <td><img src='{KS:DefaultPic}' onerror="this.src='{KS:ErrDefaultPic}';" width='60' height='50' align='left'/></td>
		<td style="text-align:left">
        <span>
		 <br/>
		<a target='_blank' href='{KS:LinkUrl}' onclick='this.blur();'>{KS:Title}</a></span>
		 <br/>
        {KS:Attribute}
	  </td>
	  </tr>
	 </table>
     </td>
     <td><span class='pricemarket'>{$GetCurrencySymbol}<span id="{KS:CartID}">{KS:Price_Market}</span>{$GetCurrencyUnit}</span></td>
     <td><span class='price'>{KS:Price}</span></td>
	 <script>if ("{=getshopcommonconfig(43)}"=="1") document.write("<td>{KS:IsPromotions}</td>"); </script>
     <td>{KS:ProductType}</td>
     <td align="center"><input type='hidden' id='num_{KS:CartID}' name='num_{KS:CartID}'  value='{KS:Num}'/>{KS:Num}
	 <input type="hidden" name="proid_{KS:CartID}" id="proid_{KS:CartID}" value="{KS:ProID}"/>
	 </td>
     <td>{KS:SubTotal}</td>
     <td><span class='subscore'><span id="subscore_{KS:CartID}">{KS:SubScore}</span></span></td>
</tr>
[/recordloop]

 <tr>
    <td class='Tfoot' colspan='9' style='text-align:right;height:30px'>
	 <table width="100%">
	  <tr>
	   <td id="showscore">
	完成本次交易您可以得到<span class='price' style='color:green'> {KS:OrderScore}分 </span>的积分
	   </td>
	   <td>商品金额：<span class="price">{$GetCurrencySymbol}<span id="goodsMoney">{KS:GoodsMoney}</span>{$GetCurrencyUnit}</span></span> 支付方式可优惠：<span class="price" style="color:green">{$GetCurrencySymbol}<span id="payDiscount">{KS:PayDiscount}</span>{$GetCurrencyUnit}</span> 运费：<span class="price">{$GetCurrencySymbol}<span id="orderFreight">0</span>{$GetCurrencyUnit}</span>
	<label id="showTaxes" style="display:none"><br />税金：<span class="price">{$GetCurrencySymbol}<span id="Taxes"> {KS:Taxes} </span>{$GetCurrencyUnit}</span> </label>
	
	<br/>
	实际金额：商品金额-支付方式优惠+运费+税金 &nbsp;&nbsp;&nbsp;
	
	<span style='font-size:14px'><b>订单总金额：<span class='price'>{KS:OrderTotalPrice}</span></b></span>
	<span id="showsave" style="font-weight:bold;font-size:14px;display:None">
	<br />商场活动优惠：<span class='saveMoney'>{$GetCurrencySymbol}<span id="SaveMoney">0</span>{$GetCurrencyUnit}</span>
	</span>
	<span id="ORDER_COSTS" style="font-weight:bold;font-size:14px;"></span>
	<span id="showFrontPrice" style='font-size:14px'></span>
	<span id="showMustPayPrice" style='font-size:14px'></span>
	
		</td>
		</tr>
		</table>
	</td>
 </tr>

</table>        
    <script>
	 $(document).ready(function(){
	   if ({KS:OrderScore}==0){
	    $("#showscore").hide();
	   }
	 });
	</script>


	]]>
   </label>
</labeltemplate>