<?xml version="1.0"?>
<labeltemplate>

   <label name="waitbuy">
    <![CDATA[
	  <div class="tipsbox">
		   <h2>请等待开放购买！</h2>
		   <img src="/images/shop/time01.png" align="left"/>
				   &nbsp;
			倒计时：<font id="ajaxtcountdown">loading...</font>
			<script>
			show_date_time('{$begindate}','{$enddate}','ajaxtcountdown',1);
			$("#carbox").hide();
			var time1;
			function checktime(){
			  if ($("#ajaxtcountdown").html().indexOf('已结束')!=-1){
			     clearTimeout(time1);
				 $("#showCarInfo").empty();
			    showBuyInfo({$proid});
			  }
			   time1=window.setTimeout("checktime()", 1000);
			}
			checktime();
			
			</script>
			
			[applybookcode]
			 <div style="clear:both;margin-top:30px;" class="apply">
			 <a href="/shop/bookCodeApply.aspx?id={$bookcodetypeid}" target="_blank">我要申请购买预约码</a>
			 </div>
			[/applybookcode]
			
	  </div>
   ]]>
   </label>
   <label name="beginbuy">
       
			 <item name="nologin">
				<![CDATA[
				  <div class="tipsbox">
				      [limittime]
					   <h2>已开放购买啦！</h2>
					   <img src="/images/shop/time01.png" align="left"/>
					   &nbsp;
						离结束还剩：<font id="ajaxtcountdown">loading...</font>
						<script>
						show_date_time('{$begindate}','{$enddate}','ajaxtcountdown',1);
						</script>
						<div style="clear:both;height:20px;"></div>
					  [/limittime]	
					   <div>由于本商品每个城市只能购买<span style="color:red">{$limitcitynum}</span>{$unit}，所以[<a href="javascript:;" onclick="showuserlogin();">请先登录</a>]才能确认本商品是否被买走！</div>
					   <script>
						$("#carbox").hide();
						</script>
				  </div>
			   ]]>
			 </item>
			 <item name="hasloginsoldout">
				<![CDATA[
				  <div class="tipsbox">
				      [limittime]
					   <h2>已开放购买啦！</h2>
					   <img src="/images/shop/time01.png" align="left"/>
					   &nbsp;
						离结束还剩：<font id="ajaxtcountdown">loading...</font>
						<script>
						show_date_time('{$begindate}','{$enddate}','ajaxtcountdown',1);
						</script>
						<div style="clear:both;height:20px;"></div>
					 [/limittime]	
					   <div>您好{$username}，您设定的收货城市：{$city}！</div>
					   <div>
					   <img src="/sysimg/default/err.gif" align="left"/>对不起，本商品已被同城客户买走了。<br/>
					   没关系，下次早点吧！
					   </div>
					   <script>
						$("#carbox").hide();
						</script>
				  </div>
			   ]]>
			 </item>
			 
			 
			 <item name="hasbuy">
				<![CDATA[
				  <div class="tipsbox">
				      [limittime]
					   <h2>已开放购买啦！</h2>
					   <img src="/images/shop/time01.png" align="left"/>
					   &nbsp;
						离结束还剩：<font id="ajaxtcountdown">loading...</font>
						<script>
						show_date_time('{$begindate}','{$enddate}','ajaxtcountdown',1);
						</script>
						<div style="clear:both;height:20px;"></div>
					 [/limittime]	
					   <div>您好{$username}，您设定的收货城市：{$city}！</div>
					   <div>
					   <img src="/sysimg/default/ok.png" align="left"/> 恭喜,您成功购买到了本款商品!
					   </div>
					   <script>
						$("#carbox").hide();
						</script>
				  </div>
			   ]]>
			 </item>
			 
			  <item name="hasloginnotsetcity">
				<![CDATA[
				  <div class="tipsbox">
				      [limittime]
					   <h2>已开放购买啦！</h2>
					   <img src="/images/shop/time01.png" align="left"/>
					   &nbsp;
						离结束还剩：<font id="ajaxtcountdown">loading...</font>
						<script>
						show_date_time('{$begindate}','{$enddate}','ajaxtcountdown',1);
						</script>
						<div style="clear:both;height:20px;"></div>
					 [/limittime]	
					   <div>您好：{$username}，您未设置收货城市，请[<a href="/user/index.aspx?URL=basic/EditInfo.aspx" target="_blank">点此设置</a>]后才可以购买！</div>
					   
					   <script>
						$("#carbox").hide();
						</script>
				  </div>
			   ]]>
			 </item>
			 
			 <item name="haslogininputbookcode">
				<![CDATA[
				  <div class="tipsbox">
				      [limittime]
					   <h2>已开放购买啦！</h2>
					   <img src="/images/shop/time01.png" align="left"/>
					   &nbsp;
						离结束还剩：<font id="ajaxtcountdown">loading...</font>
						<script>
						show_date_time('{$begindate}','{$enddate}','ajaxtcountdown',1);
						</script>
						<div style="clear:both;height:20px;"></div>
						[/limittime]
					   <div>您好：{$username}，您设定的收货城市：{$city}！</div>
					   <div>
					       [nobookcode]
					        <!--请输入您的预约码购买：<input type="text"  name="bookcode" id="bookcode"/>-->
							没有预约码，不能购买。
							<script>
							$("#carbox").hide();
							</script>
						   [/nobookcode]
						   
					       [hasbookcode]
					       您的预约码为： <font color=red>{$codeid}</font><input type="hidden" value="{$codeid}" name="bookcode" id="bookcode"/>,可以购买。
						    <script>
							$("#carbox").show();
							</script>
						   [/hasbookcode]
					   </div>
					  
				  </div>
			   ]]>
			 </item>
			 
			 
			 <item name="nolimitcitynum">
				 <![CDATA[
				  <div class="tipsbox">
				      [limittime]
					   <h2>已开放购买啦！</h2>
					   <img src="/images/shop/time01.png" align="left"/>
					   &nbsp;
						离结束还剩：<font id="ajaxtcountdown">loading...</font>
						<script>
						show_date_time('{$begindate}','{$enddate}','ajaxtcountdown',1);
						</script>
						[/limittime]
						<script>
						$("#carbox").show();
						</script>
				  </div>
				]]>
			</item>
			<item name="nolimit">
			<![CDATA[
				<script>
					$("#carbox").show();
				</script>
				]]>
			</item>
   </label>
   <label name="endbuy">
    <![CDATA[
	  <div class="tipsbox">
		   <h2>本商品已于[{$enddate}]停止销售啦！</h2>
		   <script>
			$("#carbox").hide();
			</script>
	  </div>
   ]]>
   </label>
   
    

   
   
</labeltemplate>