<?xml version="1.0"?>
<labeltemplate>
   <label>
    <![CDATA[
	<script type="text/javascript">
	 function loadCity(){
	   var pid=jQuery("#provinceid option:selected").val();
	   if (pid!=''){
	     jQuery.get("{$GetSiteUrl}plus/ajaxs.ashx", { a: "loadcityoption", pid:pid},
			 function(data){
					if (data!=null&&data!=''){
					  jQuery("#showcity").show();
					  jQuery("#cityid").empty().append("<option value=''>请选择...</option>").append(data);
					}else{
					  jQuery("#showcity").hide();
					  jQuery("#cityid").empty().append("<option value=''>请选择...</option>");
					}
					jQuery("#showcounty").hide();
					jQuery("#countyid").empty().append("<option value=''>请选择...</option>");
			  });
	  }
	  jQuery("#showselectarea").html(jQuery("#provinceid option:selected").get(0).text);
	 }
	 function loadCounty(){
	   var cid=jQuery("#cityid option:selected").val();
	   if (cid!=''){
	     jQuery.get("{$GetSiteUrl}plus/ajaxs.ashx", { a: "loadcountyoption", cid:cid},
			 function(data){
					if (data!=null&&data!=''){
					jQuery("#showcounty").show();
					jQuery("#countyid").empty().append("<option value=''>请选择...</option>").append(data);
					}else{
					jQuery("#showcounty").hide();
					jQuery("#countyid").empty().append("<option value=''>请选择...</option>");
					}
			  });
		}
	  loadSelect();
	 }
	 function loadSelect(){
	   var str=jQuery("#provinceid option:selected").get(0).text;
	   try{
	   if (jQuery("#cityid option:selected").val()!='') str+=jQuery("#cityid>option:selected").get(0).text;
	   if (jQuery("#countyid option:selected").val()!='') str+=jQuery("#countyid>option:selected").get(0).text;
	   }catch(e){
	   }
	   jQuery("#showselectarea").html(str);
	 }
	 var provinceid=0;
	 var cityid=0;
	 function saveAddress(obj){
	    provinceid=jQuery("#provinceid option:selected").val();
		 if (provinceid==''){
		  KesionJS.Alert('请选择收货地区!');
		  return false;
		 }
		 cityid=jQuery("#cityid option:selected").val();
		 if (cityid==''){
		  KesionJS.Alert('请选择收货城市!');
		  return false;
		 }
		 
	   try{
	    if ($("input[name=addressId][checked=true]").val()!='0'){
	  $("#city_"+$("input[name=addressId][checked=true]").val()).val(cityid);
	  $("#provinceid_"+$("input[name=addressId][checked=true]").val()).val(provinceid);
	   }
	  }catch(e){}
		 
		 var countyid=0;
		 if (jQuery("#countyid")[0]){
		  countyid=jQuery("#countyid option:selected").val();
		 }
		 var address=jQuery("#address").val();
		 if (address==''){
		  KesionJS.Alert('请输入收货地址!','jQuery("#address").focus();');
		  return false;
		 }
		 var zipcode=jQuery("#zipcode").val();
		 if (zipcode==''){
		  KesionJS.Alert('请输入邮政编码!','jQuery("#zipcode").focus();');
		  return false;
		 }
		 var realname=jQuery("#realname").val();
		 if(realname==''){
		  KesionJS.Alert('请输入收货人地址!','jQuery("#realname").focus();');
		  return false;
		 }
		 var tel=jQuery("#tel").val();
		 var mobile=jQuery("#mobile").val();
		 if (tel==''&&mobile==''){
		   KesionJS.Alert('固定电话或手机至少要填一项!');
		   return false;
		 }
		 var email=jQuery("#email").val();
		 showWaitInfo("请稍候,正在保存收货地址!",obj);
	     jQuery.get("{$GetSiteUrl}plus/ajaxs.ashx", { a: "saveproaddress", addrid:jQuery("#addrid").val(),provinceid:provinceid,cityid:cityid,countyid:countyid,address:address,zipcode:zipcode,realname:realname,tel:tel,mobile:mobile,email:email},
			 function(data){
					if (parseInt(data)!=0){
					   loadMyAddress(data);
					  jQuery("#addmyaddress").fadeOut("fast");
					  
					  if (parseInt(jQuery("#addrid").val())==0){
					  KesionJS.Alert('恭喜,添加成功!');
					  //location.reload();
					  }
					  else
					  alert('恭喜,修改成功!');
					  //加载配送方式列表
					  if (document.getElementsByName("addressId").length==0){
					   location.reload();
					  }else{
					   showDeliveryList();
					  }
					}
					clearWaitInfo();
			  });
	 }
	 
function addAddress(obj){
	jQuery("#addrid").val(0);
    showWaitInfo("请稍候,正加载添加收货地址表单!",obj);
	jQuery('#addmyaddress').fadeIn('slow');
	jQuery("#ShowDeliveryList").html("<div style='padding:10px;background:#ffffee;margin:5px 2px;border:1px #f9c943 solid;font-weight:bold'>请完善并保存您的收货信息。</div>");
	clearWaitInfo();
}
//加载地址
function loadMyAddress(id){
  jQuery.get("{$GetSiteUrl}plus/ajaxs.ashx",{a:"loaddefaultaddress",sid:id},function(data){
		   jQuery("#myaddress").html(data);
   });
}
//删除地址
function loadDelAddress(id,obj){
   $.dialog.confirm("确认删除该收货地址吗？",function(){
		$.get("{$GetSiteUrl}plus/ajaxs.ashx", { a: "deletemyaddress",addressId:id},
			 function(data){
			  if (data=="success"){
			   loadMyAddress(0);
			   if (document.getElementsByName("addressId").length==2){
				location.reload();
			   }
			  }else{
			   KesionJS.Alert('对不起，操作失败！');
			  }
		 });
 },function(){
 });
 
}

function loadModifyAddress(id,obj){
 jQuery("#addrid").val(id);
 showWaitInfo("请稍候,正加载收货地址表单!",obj);
 jQuery.getScript('{$GetSiteUrl}plus/ajaxs.ashx?a=modifyproaddress&addrid='+id,function(){
			if (address.issuccess=='true'){
			 jQuery("#provinceid>option[value="+address.provinceid+"]").attr("selected",true);
			 if (parseInt(address.cityid)!=0){
			   jQuery.get("{$GetSiteUrl}plus/ajaxs.ashx", { a: "loadcityoption", pid:address.provinceid},
				 function(data){
				    if (data!=null && data!=''){
					jQuery("#showcity").show();
					jQuery("#cityid").empty();
					jQuery("#cityid").append("<option value=''>请选择---</option>");
					jQuery("#cityid").append(data);
					jQuery("#cityid").val(address.cityid);
					loadSelect();
					}else{
					jQuery("#showcity").hide();
					jQuery("#cityid").empty();
					jQuery("#cityid").append("<option value=''>请选择---</option>");
					}
				  });
			 }else{
					jQuery("#showcity").hide();
					jQuery("#cityid").empty();
					jQuery("#cityid").append("<option value=''>请选择---</option>");
			 }
			 if (parseInt(address.countyid)!=0){
			 
			 jQuery.get("{$GetSiteUrl}plus/ajaxs.ashx", { a: "loadcountyoption", cid:address.cityid},
			 function(data){
					if (data!=null&&data!=''){
					jQuery("#showcounty").show();
					jQuery("#countyid").empty();
					jQuery("#countyid").append("<option value=''>请选择...</option>");
					jQuery("#countyid").append(data);
					jQuery("#countyid").val(address.countyid);
					loadSelect();
					}else{
					jQuery("#showcounty").hide();
					jQuery("#countyid").empty();
					jQuery("#countyid").append("<option value=''>请选择...</option>");
					}
			  });
			 
			 }else{
					jQuery("#showcounty").hide();
					jQuery("#countyid").empty();
					jQuery("#countyid").append("<option value=''>请选择...</option>");
			 }
			 jQuery("#addmyaddress").fadeIn('slow');
			 jQuery("#address").val(address.address);
			 jQuery("#zipcode").val(address.zipcode);
			 jQuery("#realname").val(address.realname);
			 jQuery("#email").val(address.email);
			 jQuery("#tel").val(address.tel);
			 jQuery("#mobile").val(address.mobile);
			}else{
			 alert('对不起,找不到记录,加载收货地址表单出错!');
			}
			clearWaitInfo();
	 });
	 
}



	</script>
<div id="addmyaddress" style="margin-bottom:10px;{$DisplayOrNone}">
	
	<input type="hidden" name="addrid" id="addrid" value="0" />
	<table width="100%" border="0" cellpadding="1" cellspacing="1" class="ctable">
		<tr>
		 <td style='width:100px;' align='right' class="cleft"><font color=red>*</font> 收货地区：</td>
		 <td>{$ShowArea}
		  <span id="showcity" style="display:none"><select name="cityid" id="cityid" onchange="loadCounty();"></select></span>
		  <span id="showcounty" style="display:none"><select name="countyid" onchange="loadSelect();" id="countyid"></select></span>
		 
		 </td>
		</tr>
		<tr>
		 <td align='right' class="cleft"><font color=red>*</font> 地　　址：</td><td><span id="showselectarea"></span><input type="text" name="address" id="address" maxlength="100"/> 只需填街道地址及门牌号</td>
		</tr>
		<tr>
		<td align='right' class="cleft"><font color=red>*</font> 邮　　编：</td><td><input maxlength="6" type="text" name="zipcode" id="zipcode" /></td>
		</tr>
		<tr>
		<td  align='right' class="cleft"><font color=red>*</font> 收货人姓名：</td><td><input type="text" name="realname" id="realname" maxlength="15" /> 请填写真实姓名，以免延误收货</td>
		</tr>
		<tr>
		<td align='right' class="cleft">手机号码：</td><td><input type="text" maxlength="12" name="mobile" id="mobile" /> 或固定电话<input type="text" name="tel" maxlength="12" id="tel" /> 手机和电话至少填一项。</td>
		</tr>
		
		<tr>
		<td align='right' class="cleft">电子邮件：</td><td><input type="text" maxlength="50" name="email" id="email" /> 为了方便跟踪订单状态通知,建议输入您的常用邮箱</td>
		</tr>
		<tr><td class="cleft"></td><td><input type="button" value="保存收货人信息" class="button" onclick="saveAddress(this)" /></td></tr>
	</table>
</div>
	]]>
   </label>
</labeltemplate>