<?xml version="1.0"?>
<searchform>
    <![CDATA[
	<style>

		
	</style>
<!-----搜索条----->
<div class="sc">
	<script> 
	function drop_mouseover(pos){
	 try{window.clearTimeout(timer);}catch(e){}
	}
	function drop_mouseout(pos){
	 var posSel=document.getElementById(pos+"Sel").style.display;
	 if(posSel=="block"){
	  timer = setTimeout("drop_hide('"+pos+"')", 1000);
	 }
	}
	function drop_hide(pos){document.getElementById(pos+"Sel").style.display="none";}
	function search_show(pos,searchType,href){
		document.getElementById(pos+"SearchType").value=searchType;
		document.getElementById(pos+"Sel").style.display="none";
		document.getElementById(pos+"Slected").innerHTML=href.innerHTML;
		var sE = document.getElementById("searchExtend");
		if(sE != undefined  &&  searchType == "bar"){
		 sE.style.display="block";
		}else if(sE != undefined){
		 sE.style.display="none";
		}
	 try{window.clearTimeout(timer);}catch(e){}
	 return false;
	}
	function dosearch(){
	  var key=jQuery("#key-text").val();
	 if (key=='' || key=='请输入搜索关键字'){
		KesionJS.Alert("请输入搜索关键字！","jQuery('#key-text').focus()");
	 }
	else
	{
	     var m=jQuery("#headSearchType").val();
		 if (m==1000){   //问吧
		  location.href="{=GetRewriteUrl(asklist)}?key="+key;
		 }else if (m==1001){ //考试
		  location.href="{=GetRewriteUrl(examlist)}?key-"+key;
		 }else{
		  location.href="{=GetRewriteUrl(search)}?key="+ key+"&m="+ m;
		 }
	 }
	 
	}
	jQuery(document).ready(function(){
		 if (jQuery("#key-text").val()==''){
		   jQuery("#key-text").val('')
		 }
	});
	</script>

 	<div class="scbox">
      <div class="selSearch">
		<div class="nowSearch" id="headSlected" onclick="if(document.getElementById('headSel').style.display=='none'){document.getElementById('headSel').style.display='block';}else {document.getElementById('headSel').style.display='none';};return false;" onmouseout="drop_mouseout('head');">[KS:DefaultItemName]</div>
		<div class="btnSel"><a href="#" onclick="if(document.getElementById('headSel').style.display=='none'){document.getElementById('headSel').style.display='block';}else {document.getElementById('headSel').style.display='none';};return false;" onmouseout="drop_mouseout('head');"></a></div>
		<div class="clear"></div>
		<ul class="selOption" id="headSel" style="display:none;">
		 [KS:SearchItemList]
		 <li[KS:ShowAsk]><a href="#" onclick="search_show('head','1000',this)" onmouseover="drop_mouseover('head');" onmouseout="drop_mouseout('head');">问吧</a></li>
		 <li[KS:ShowExam]><a href="#" onclick="search_show('head','1001',this)" onmouseover="drop_mouseover('head');" onmouseout="drop_mouseout('head');">试卷</a></li>
		</ul>
     </div>
     <input type="input" id="key-text" style="font-size:12px;" name="wd" class="SC_input" value="[KS:SearchKey]" onfocus="this.value=(this.value=='请输入搜索关键字')?'':this.value" onblur="this.value=(this.value=='')?'请输入搜索关键字':this.value"/>
     <input id="headSearchType" name="searchType" type="hidden" value="[KS:DefaultModelID]">
      <a href="#"><input name="" onclick="dosearch();" type="button" value="搜索" class="scbtn" align="left" /></a>
    </div>
	
	  
	  <div class="sc_tags"> {=GetTags(1,10)}  </div>	
</div>
</div>
 <!-----搜索条结束----->
	
	
	
	
	]]>
</searchform>