<?xml version="1.0"?>
<mailtemplate>
<type name="orderconfirm">
<![CDATA[
亲爱的 {$ContactMan} 您好：<br/>
您于 {$InputTime} 提交的 {$OrderID} 号订单已经确认。请您按照订单中的金额汇款并联系我们。收到汇款后我们将立即安排发货。<br>
订单信息如下：<br>
{$OrderInfo}
]]>
</type>
<type name="ordercancel">
<![CDATA[亲爱的 {$ContactMan} 您好：<br>
您于 {$InputTime} 提交的 {$OrderID} 号订单由于{$VoidBecause}被作废。<br>
订单信息如下：<br>
{$OrderInfo}
]]>
</type>
<type name="neworder">
<![CDATA[
新订单提醒：<br/>
您于 {$InputTime} 提交的 {$OrderID} 号订单已经确认。请您按照订单中的金额汇款并联系我们。收到汇款后我们将立即安排发货。<br>
订单信息如下：<br>
{$OrderInfo}
]]>
</type>
<type name="receivebank">
<![CDATA[亲爱的 {$ContactMan} 您好：<br>
您于 {$InputTime} 提交的 {$OrderID} 号订单已经银行汇款，我们正在安排发货。<br>
订单信息如下：<br>
{$OrderInfo}
]]>
</type>
<type name="refund">
<![CDATA[亲爱的 {$ContactMan} 您好：<br>
我们已对您于 {$InputTime} 提交的 {$OrderID} 号订单进行了退款，您可以在您的会员资金明细中查看相关记录。<br>
订单信息如下：<br>
{$OrderInfo}
]]>
</type>
<type name="invoice">
<![CDATA[亲爱的 {$ContactMan} 您好：<br>
您于 {$InputTime} 提交的 {$OrderID} 号订单已经开具发票<br>
订单信息如下：<br>
{$OrderInfo}
]]>
</type>
<type name="shipping">
<![CDATA[亲爱的 {$ContactMan} 您好：<br>
您于 {$InputTime} 提交的 {$OrderID} 号订单已经发货，快递公司：{$Express} 快递单：{$ExpressNo}。请您注意及时查收。<br>
订单信息如下：<br>
{$OrderInfo}
]]>
</type>
<type name="coupon">
<![CDATA[亲爱的 {$UserName} 您好：<br>
恭喜,您在[{$SiteName}]网获得面值<span style=""color:red"">{$FaceValue}</span>的优惠券,优惠券代码:{$CouponNum}。

温馨提示:优惠券使用期限{$BeginDate}至{$EndDate},请在有效期内用券。
]]>
</type>
<type name="paytips">
<![CDATA[亲爱的 {$ContactMan} 您好：<br>
您于 {$InputTime} 提交的 {$OrderID} 号订单还未付款，请及时付款。<br>
订单信息如下：<br>
{$OrderInfo}


]]>
</type>
<type name="orderprinttemplate">
<![CDATA[<style>
	.ddtable{width:100%;border:1px solid #e1ddd7;}
    .ddtable .title{heihht:2em; line-height:2em;background:#f2efea;border-bottom:1px solid #e1ddd7;}
	.ddtable table{width:100%; background-color:#e1ddd7; line-height:25px; font-family:"Microsoft YaHei"}
    th{ background-color:#fff;}
    td{ background-color:#fff; text-align:center; padding:0.4em 0.8em; font-size:0.85em;color:#666;}
	.tdbgleft{background:#f2efea; font-size:0.95em;color:#515151;}
	.tdbgleft td{background:#f2efea;font-size:1em;color:#515151;}
</style>
<table cellpadding="0" cellspacing="0" class="ddtable">
	<tbody>
		<tr align="middle">
			<td class="title">
				<strong>订 单 信 息</strong>（订单编号：{$OrderID} <span style="width: 18%">下单时间：{$InputTime}</span>）</td>
		</tr>
		<tr>
			<td style="height: 25px">
				<table border="0" cellpadding="2" cellspacing="0">
					<tbody>
						<tr class="tdbg">
							<td style="width: 18%">
								用 户 名：{$UserName}</td>
							<td style="width: 18%">订单状态：{$OrderStatus}</td>
						</tr>
						<tr class="tdbg">
							<td style="width: 18%">
								需要发票：{$IsInvoice}</td>
							<td style="width: 20%">
								已开发票：{$Invoiced}</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
		<tr align="middle">
			<td>
				<table border="0" cellpadding="2" cellspacing="1" >
					<tbody>
						<tr class="tdbg">
							<td align="right" class="tdbgleft" width="90">
								收货人姓名：</td>
							<td align="left">
								{$ContactMan}</td>
							<td align="right" class="tdbgleft" width="90">
								联系电话：</td>
							<td align="left">
								{$Tel}</td>
						</tr>
						<tr class="tdbg" valign="top">
							<td align="right" class="tdbgleft" width="90">
								收货人地址：</td>
							<td align="left">
								{$Address}</td>
							<td align="right" class="tdbgleft" width="90">
								邮政编码：</td>
							<td align="left">
								{$ZipCode}</td>
						</tr>
						<tr class="tdbg">
							<td align="right" class="tdbgleft" width="90">
								收货人邮箱：</td>
							<td align="left">
								{$Email}</td>
							<td align="right" class="tdbgleft" width="90">
								收货人手机：</td>
							<td align="left">
								{$Mobile}</td>
						</tr>
						<tr class="tdbg">
							<td align="right" class="tdbgleft" width="90">
								付款方式：</td>
							<td align="left">
								{$PaymentType}</td>
							<td align="right" class="tdbgleft" width="90">
								送货方式：</td>
							<td align="left">
								{$DeliverType}</td>
						</tr>
						<tr class="tdbg" valign="top">
							<td align="right" class="tdbgleft" width="90">
								发票信息：</td>
							<td align="left">
								{$Invoice}</td>
							<td align="right" class="tdbgleft" width="90">
								订单附言:</td>
							<td align="left">
								{$Remark}</td>
						</tr>
						<tr>
							<td align="right" class="tdbgleft" width="90">
								送货日期：</td>
							<td>
								{$DeliveryDate}</td>
							<td align="right" class="tdbgleft" width="90">
								送货时间<span class="tdbgleft">：</span></td>
							<td>
								{$DeliveryTime}</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
		<tr>
			<td>
				<table border="0" cellpadding="0" cellspacing="1">
					<tbody>
						<tr align="middle" class="tdbgleft">
							<td align="left" width="400">
								商 品 名 称</td>
							<td align="left" width="50">
								单位</td>
							<td align="left" width="50">
								数量</td>
							<td align="left" width="100">
								市场价</td>
							<td align="left" width="100">
								实价</td>
							<td align="left" width="100">
								小计</td>
							<td align="left" width="200">
								备注</td>
						</tr>
						[recordloop]
						<tr align="middle" class="tdbg">
							<td align="left" width="400">
								<img align="left" src="{$PhotoUrl}" style="width:5em;height:4.75em" /> {$ProductName} <font color="#888888">{$Attribute}</font></td>
							<td align="left" width="50">
								{$Unit}</td>
							<td align="left" width="50">
								{$Amount}</td>
							<td align="left" width="100">
								{$Price_Market}</td>
							<td align="left" width="100">
								{$Price}</td>
							<td align="left" width="100">
								{$TotalMoney}</td>
							<td align="left" width="200">
								{$ItemRemark}</td>
						</tr>
						[/recordloop]


					</tbody>
                    
					<tbody>
						<tr class="tdbg">
							<td align="left" colspan="3">
								商品金额：{$GoodsMoney}元 支付方式可优惠:{$PayDiscountMoney}元 运费:{$Freight} 订单金额：商品金额-支付方式优惠+运费+税金-优惠券金额={$NoUseCouponMoney}元</td>
							<td align="right" colspan="2">
								本单实付金额：</td>
							<td align="left">
								{$OrderTotalMoney}</td>
							<td align="left" colspan="2">
								已付款：<font color="blue">{$MoneyReceipt}</font><br />
								尚欠款：<font color="red">{$Arrears}</font></td>
						</tr>
                    </tbody>  
                     
				</table>
			</td>
		</tr>
	</tbody>
</table>
<p>{$ShowOrderProcessInfo}</p>

]]>
</type>
</mailtemplate>
