<?xml version="1.0"?>
<BaseConfigInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <InstallDir>/</InstallDir>
  <DataBaseType>SqlDAL</DataBaseType>
  <SqlConnStr>Data Source=(local);User ID=sa;Password=989066;Initial Catalog=kesionimall;Pooling=true;</SqlConnStr>
  <SqlNowStr>getdate()</SqlNowStr>
  <AllowSubDomain>false</AllowSubDomain>
  <RootDomain>kesion.com</RootDomain>
  <ManageByMobileCode>false</ManageByMobileCode>
  <ManageLoginAllowMobile>13605040000</ManageLoginAllowMobile>
</BaseConfigInfo>