<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{$GetBBSName}-{$GetSiteName}</title>
<meta content="{$GetClass_Meta_KeyWord}" name=keywords>
<meta content="{$GetClass_Meta_Description}" name=description>
<link href="images/kesion.css" rel="stylesheet" type="text/css" />
<link href="{$GetInstallDir}images/home.css" rel="stylesheet" />
<script src="{$GetInstallDir}ks_inc/jquery.js" type="text/javascript"></script>
<script src="{$GetInstallDir}ks_inc/Kesion.Common.js" type="text/javascript"></script>
	<script>
	$(function () {
		$(".section li").hover(
			function () {
				$(this).find(".dask").stop().delay(50).animate({"top":0},300)
			 },
			function () {
				$(this).find(".dask").stop().animate({"top":-210},300)
			}
		)
	})
</script>
<style>
	 .todayhastopic{color:red;}  /*今日有帖子*/
	 .todaynotopic{color:#fff;}  /*今日无帖子*/
					  
	 .boardico img{width:50px;height:50px;border:1px solid #ccc;padding:1px;}
	 .photored{background:url(images/forum_new.png) no-repeat;width:77px;height:77px;margin:20px 0px 0px 15px;float:left;}
     .photogray{background:url(images/forum.png) no-repeat;width:77px;height:77px;margin:20px 0px 0px 15px;float:left;}
                     
</style>
</head>
<body>
{KS_头部通用}
  <!--<div class="nav">
    <div class="topmain">
       <img src="images/logo.png" alt="kesion" />
      <ul class="menu">
          <li class="curr"><a href="#" class="m1">首页</a></li>
          <li><a href="#" class="m2">版块</a></li>
          <li><a href="#" class="m3">精华帖</a></li>
          <li><a href="#" class="m4">会员</a></li>
       </ul>
         <div class="user">
           <a href="#">注册</a>
           <a href="#">登陆</a>
           <a href="#"><img src="images/icon_qq.png" /></a>
           <a href="#"><img src="images/icon_sina.png" /></a>
           <a href="#"><img src="images/icon_alipay.png" /></a>
         </div>
         <div class="user2">
            您好！<a href="#" target="_blank">tttttt</a>
            <a href="#">退出</a>
         </div>
     </div>
  </div>
  -->
  <div class="clear blank10"></div>
  
     <div class="navigation"> {KS_位置导航}</div>


  <div class="clear blank20"></div>
  <div class="section">
  

     <div class="section01">

    [Loop]
     	      <li class="r{KS:Field:AutoID}">
             <a href="#">{KS:Field:ICO}</a>
             <h2><a href="{KS:Field:BoardURL}">{$Field(BoardName,text,0,...,2,)}</a></h2>
             <i>版主：{$Field(BoardMaster,text,0,...,2,)}</i>
             <span class="xinxi">
                 <span>今日:{KS:Field:TodayNum}</span>
                <span>主题:{$Field(TopicNum,text,0,...,2,)} </span>
                <span>帖数:{$Field(PostNum,text,0,...,2,)} </span>
                   
                 
             </span>
             
             <div class="dask">
				<span>{$Field(Intro,text,0,...,2,)}</span>
                <a href="{KS:Field:BoardURL}">进入主题</a>
			</div>
          </li>
     [/loop]
     </div>
    
  </div>
  {KS_尾部通用}
</body>
</html>
