<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{$GetBBSName}-{$GetSiteName}</title>
{$GetBBSSeoKeywords}
{$GetBBSSeoDescript}
<link href="images/kesion.css" rel="stylesheet" type="text/css" />
<link href="{$GetInstallDir}images/home.css" rel="stylesheet" />
<script src="{$GetInstallDir}ks_inc/jquery.js" type="text/javascript"></script>
<script src="{$GetInstallDir}ks_inc/Kesion.Common.js" type="text/javascript"></script>
<script>	$(function () {
		$(".section li").hover(
			function () {
				$(this).find(".dask").stop().delay(50).animate({"top":0},300)
			 },
			function () {
				$(this).find(".dask").stop().animate({"top":-210},300)
			}
		)
	})
</script>
<style>
	 .todayhastopic{color:red;}  /*今日有帖子*/
	 .todaynotopic{color:#fff;}  /*今日无帖子*/
					  
	 .boardico img{width:50px;height:50px;border:1px solid #ccc;padding:1px;}
	 .photored{background:url(images/forum_new.png) no-repeat;width:77px;height:77px;margin:20px 0px 0px 15px;float:left;}
     .photogray{background:url(images/forum.png) no-repeat;width:77px;height:77px;margin:20px 0px 0px 15px;float:left;}
                     
</style>
</head>
<body>
{KS_头部通用}
  <!--<div class="nav">
    <div class="topmain">
       <img src="images/logo.png" alt="kesion" />
      <ul class="menu">
          <li class="curr"><a href="{$GetClubIndexUrl}" class="m1">首页</a></li>
          <li><a href="#" class="m2">版块</a></li>
          <li><a href="#" class="m3">精华帖</a></li>
          <li><a href="#" class="m4">会员</a></li>
       </ul>
         <div class="user">
		 
	 <!--弹窗登录开始---
	<span id="PopLoginTips">
	<a href="javascript:showuserlogin()">登录</a> 
	<a href="{=GetRewriteUrl(reg)}" target="_blank">注册</a>
	<a href="{=GetRewriteUrl(qqlogin)}"><img src="images/icon_qq.png" /></a>
    <a href="{=GetRewriteUrl(sinalogin)}"><img src="images/icon_sina.png" /></a>
    <a href="{=GetRewriteUrl(alipaylogin)}"><img src="images/icon_alipay.png" /></a>

	</span>
	
	<script>
	jQuery(document).ready(function(){
	   jQuery.ajax({
		  type:"POST",
		  datatype: "xml",
		  url:"{$GetInstallDir}plus/ajaxs.ashx",
		  data:"a=checkislogin",
		  success:function(xml){
		      var islogin=jQuery(xml).find("login islogin").text();
			  if (islogin=='false') return;
			  var str="<img src='"+jQuery(xml).find("login userface").text()+"' align='texttop' class='userface' /> <a href='{$GetSiteUrl}user/index.aspx' style='color:#333'>"+jQuery(xml).find("login username").text()+"</a> <a href='javascript:;' onclick=\"$.dialog.confirm('确定退出登录吗？',function(){location.href='{$GetSiteUrl}user/UserLoginOut.aspx';},function(){});\">退出</a>  <a href='{$GetSiteUrl}user/receivedmessage.aspx?menu=message'>消息"+jQuery(xml).find("login message").text()+"</a>";
			 jQuery("#PopLoginTips").html(str);
		  }
		 });
    });
	</script>
<!--弹窗登录结束---
		 
         </div>
    
     </div>
  </div>
  -->
  <div class="clear blank10"></div>
  <div class="data">
     <ul>
        <li><em>{$TodayPostNum}</em> 今日发帖数</li>
        <li><em>{$YesterdayPostNum}</em>  昨日发帖数</li>
        <li><em>{$TotalPostNum}</em> 帖子总数</li>
        <li><em>{$TotalTopicNum}</em>总话题</li> 
        <li><em>{$MaxDayNum}</em>最高日帖数</li>
        <li style="border:none"><em>{$TotalMemberNum}</em>注册会员</li>
     </ul>
  </div>
  <div class="clear blank20"></div>
  <div class="section">
  
    [Loop]
     <div class="section01">
     <div class="title"><h1><a href="{KS:Field:BoardURL}">{$Field(BoardName,text,0,...,2,)}</a></h1></div>
        <ul>
	     	[KS:SubBoardList]
		
        </ul>
     </div>
     
     <div class="clear blank20"></div>
     [/loop]
     
    
  </div>
  {KS_尾部通用}
</body>
</html>
