<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="{$GetInstallDir}images/home.css" rel="stylesheet" />
	<title>{$GetSiteTitle}-网站地图</title>
	<!--鼠标滑动特效start--> 
	<script src="{$GetInstallDir}ks_inc/jquery.js" type="text/javascript"></script>
	<script src="{$GetInstallDir}ks_inc/kesion.common.js" type="text/javascript"></script>

</head>
<body>
{KS_头部通用}

	<div class="Dg">{KS_位置导航}</div>

		 [KS:ShowMapList]
		 
{KS_尾部通用}
</body>
</html>