<?xml version="1.0"?>
<labeltemplate>
   <label>
    <![CDATA[

	<table class='ShoppingCart' cellpadding='1' cellspacing='1' width='100%'>


 [recordloop]
<tr class='tdbg'>
     <td class='align_Left' style="width:60px;text-align:center">
	    <img src='{KS:DefaultPic}' onerror="this.src='{KS:ErrDefaultPic}';" width='60' height='50' align='left'/>
		</td>
		<td class='align_Left' style="text-align:left">
        <span>
		<a target='_blank' href='{KS:LinkUrl}' onclick='this.blur();'>{KS:Title}</a></span>
        {KS:Attribute}
		 <br/>
		<span class='pricemarket' style="display:none">￥<span id="{KS:CartID}">{KS:Price_Market}</span>元</span>
		单价：<span class='price'>{KS:Price}</span>
		<br/>
		数量：<input type='hidden' id='num_{KS:CartID}' name='num_{KS:CartID}'  value='{KS:Num}'/>{KS:Num}
		<input type="hidden" name="proid_{KS:CartID}" id="proid_{KS:CartID}" value="{KS:ProID}"/>
		<br/>小计：{KS:SubTotal}
		<br/>积分：<span class='subscore'><span id="subscore_{KS:CartID}">{KS:SubScore}</span></span>
	  </td>

</tr>
[/recordloop]

 <tr>
    <td class='Tfoot' colspan="2" style='text-align:left;height:30px'>
	 <table width="100%">
	  <tr>
	   <td>
	商品金额：<span class="price">{$GetCurrencySymbol}<span id="goodsMoney">{KS:GoodsMoney}</span>{$GetCurrencyUnit}</span></span> 支付方式可优惠：<span class="price" style="color:green">{$GetCurrencySymbol}<span id="payDiscount">{KS:PayDiscount}</span>{$GetCurrencyUnit}</span> 运费：<span class="price">{$GetCurrencySymbol}<span id="orderFreight">0</span>{$GetCurrencyUnit}</span>
	<label id="showTaxes" style="display:none"><br />税金：<span class="price">{$GetCurrencySymbol}<span id="Taxes"> {KS:Taxes} </span>{$GetCurrencyUnit}</span> </label>
	
	<br/>
	实际金额：商品金额-支付方式优惠+运费+税金 &nbsp;&nbsp;&nbsp;
	
	<span style='font-size:14px'><b>订单总金额：<span class='price'>{KS:OrderTotalPrice}</span></b></span>
	<span id="showsave" style="font-weight:bold;font-size:14px;display:None">
	<br />商场活动优惠：<span class='saveMoney'>{$GetCurrencySymbol}<span id="SaveMoney">0</span>{$GetCurrencyUnit}</span>
	</span>
	<span id="ORDER_COSTS" style="font-weight:bold;font-size:14px;"></span>
	<span id="showFrontPrice" style='font-size:14px'></span>
	<span id="showMustPayPrice" style='font-size:14px'></span>
	
	可得到<span class='price' style='color:green'>{KS:OrderScore}</span>分积分
	
	   </td>
	   <td>
		</td>
		</tr>
		</table>
	</td>
 </tr>

</table>        



	]]>
   </label>
</labeltemplate>