<?xml version="1.0"?>
<labeltemplate>
   <label>
    <![CDATA[
	<script src="{$GetInstallDir}ks_inc/ShoppingCart.js"></script>
	<script src="{$GetInstallDir}ks_inc/tips.js"></script>
	<script type="text/javascript">
	 var DecimalPlaces={$DecimalPlaces};               //保留小数位数
	 var priceunitsymbol='{$GetCurrencySymbol}';       //货币符号
	 var priceunit='{$GetCurrencyUnit}';               //货币单位
	 var mallActivities='{=getshopcommonconfig(43)}';  //商场优惠
	 var mallActivitieArr='{=getshopcommonconfig(44)}';
	  $(document).ready(function(){
		 showCouponMsg=false;
		 checkCoupon(); //检查是否有录入优惠券!
	  });
	</script>
	
	<table class='ShoppingCart' cellpadding='1' cellspacing='1' width='100%' id='CartTb'>

 [norecord]
  <tr class='tdbg'>
   <td colspan='7' align="center" height="25">
     您的购物车中没有商品!
   </td>
  </tr>
 [/norecord]
 
 [recordloop]
		   <tr class='tdbg'>
			<td class='align_Left'  style="text-align:center" width="70">
			<img src='{KS:DefaultPic}' onerror="this.src='{KS:ErrDefaultPic}';" width='60' height='50' align='left'/>
			<br/><a href="javascript:removeOnShoppingCart('{KS:CartID}')">删除</a>
			</td>
			<td class='align_Left' style="text-align:left">
			<span><a target='_blank' href='{KS:LinkUrl}' onclick='this.blur();' title="{KS:Title}">{KS:Title}</a>{KS:PromotionsTips}</span>
			{KS:Attribute}
			
			<br/>
			
			数量：<a href='javascript:;' title='减一' onclick="changeBar('-',{KS:CartID},this)" style='margin-right:2px;'><img style='display:inline' src='{$GetInstallDir}sysimg/shop/bag_close.gif' border='none' /></a><input type='text' id='num_{KS:CartID}' name='num_{KS:CartID}' maxlength='4' style='text-align:center;width:30px' onKeyDown='if(event.keyCode == 13) event.returnValue = false' value='{KS:Num}' onchange="changeBar('o',{KS:CartID},this)" onkeypress="javascript:return isNumber(event);"/><a href='javascript:;' title='加一' onclick="changeBar('+',{KS:CartID},this)" style='margin-left:2px;'><img style='display:inline' src='{$GetInstallDir}sysimg/shop/bag_open.gif' border='none' /></a>
	      <input type="hidden" name="proid_{KS:CartID}" id="proid_{KS:CartID}" value="{KS:ProID}"/>
	      <input type="hidden" name="score_{KS:CartID}" id="score_{KS:CartID}" value="{KS:Score}"/>
	     
		 <div style="display:none">市场价：<span class='pricemarket'>{$GetCurrencySymbol}<span id="{KS:CartID}">{KS:Price_Market}</span>{$GetCurrencyUnit}</span></div>
			<br/>
			单价：
			<span class='price'>{KS:Price}</span>
			<br/>
			总计：{KS:SubTotal}
			<br/>
			积分：<span class='subscore'><span id="subscore_{KS:CartID}">{KS:SubScore}</span> 分</span>
		   </td>
		  </tr>
		 
[/recordloop]

[changebuyrecord]
 <tr class='tdbg'>
	<td class='align_Left' style="text-align:center" width="70">
			<img src='{KS:DefaultPic}' width='60' height='50' align='left'/>
			<a href="javascript:removeOnShoppingCart('{KS:CartID}')">删除</a>
	</td>
	<td class='align_Left' >
			<a target='_blank' href='{KS:LinkUrl}' onclick='this.blur();'>{KS:Title}</a> {KS:PromotionsTips} </span>
			<br/>数量：<input type='hidden' id='num_{KS:CartID}' name='num_{KS:CartID}' maxlength='4' style='text-align:center;width:30px' value="1"/>
			 <input type="hidden" name="proid_{KS:CartID}" id="proid_{KS:CartID}" value="{KS:ProID}"/> 1
			 <input type="hidden" name="chnagebuyproid" id="chnagebuyproid" value="{KS:ProID}"/>
			  <div style="display:none">市场价：<span class='pricemarket'>{$GetCurrencySymbol}<span id="{KS:CartID}">{KS:Price_Market}</span>{$GetCurrencyUnit}</span></div>
			<br/>
			价格：<span class='price'><span id="price_{KS:CartID}">{KS:Price}</span></span>
			<br/>总计：{KS:SubTotal}
			<br/>
			积分：<span class='subscore'><span id="subscore_{KS:CartID}">{KS:SubScore}</span> 分</span>
	  </td>
</tr>
[/changebuyrecord]

[bundlesalerecord]
  <tr class='tdbg'>
	<td class='align_Left' style="text-align:center" width="70">
	    <img src='{KS:DefaultPic}' width='60' height='50' align='left'/>
		<a href="javascript:removeOnShoppingCart('{KS:CartID}')">删除</a>
	    </td>
		<td class='align_Left' style="text-align:left">
        <span>
		 <font color=#ff6600><strong>{KS:PromotionsTips}</strong></font><br/>
		<a href="{KS:LinkUrl}" target="_blank">{KS:Title}</a></span>
		<br/>
		数量：<input type='hidden' id='num_{KS:CartID}' name='num_{KS:CartID}' maxlength='4' style='text-align:center;width:30px' value="1"/>
	  {KS:Num}
		<div style="display:none">市场价：<span class='pricemarket'>{$GetCurrencySymbol}<span id="{KS:CartID}">{KS:Price_Market}</span>{$GetCurrencyUnit}</span></div>
		<br/>价格：<span class='price'>{$GetCurrencySymbol}<span id="price_{KS:CartID}">{KS:Price}</span></span>
	   <br/>总计：{KS:SubTotal}
	   <br/>
			积分：<span class='subscore'><span id="subscore_{KS:CartID}">{KS:SubScore}</span> 分</span>
	   </td
</tr>
[/bundlesalerecord]

 <tr>
    <td class='Tfoot' colspan='9' style='text-align:right;height:30px'>
	<span id="showjf" style="display:none">完成本次交易您可以得到<span class='price'> <span id="orderScore">{KS:OrderScore}</span> </span>分的积分,</span>
	
	<span style='font-size:14px'><b>商品总金额(不含运费)：<span class='price' id="GoodsTotalMoney">{KS:OrderTotalPrice}</span></b></span>
	<span id="showsave" style="font-weight:bold;font-size:14px;display:None">
	<br />商场活动优惠：<span class='saveMoney'>{$GetCurrencySymbol}<span id="SaveMoney">0</span>{$GetCurrencyUnit}</span>
	</span>
	<span id="ORDER_COSTS" style="font-weight:bold;font-size:14px;"></span>
	<span id="showFrontPrice" style='font-size:14px'></span>
	<span id="showMustPayPrice" style='font-size:14px'></span>
	</td>
 </tr>
</table>        

<div style="margin:10px;text-align:left">
<a href="orderinfo.aspx" class="qjsbtn">去结算</a>&nbsp;&nbsp;
<a href="shop.aspx" class="jxgwbtn">继续购物</a>

<div class="clear blank10"></div>
<span style="float:left"><img src="{$GetInstallDir}sysimg/shop/quick_none.jpg" align="absmiddle"> <a href="javascript:;" onclick="removeAllPro()">清空购物车数据</a></span>
<br/>
<strong>使用优惠券:</strong><input type="text" class="coupontxt" id="couponnum" name="couponnum" size="15"> <input type="button" value="验证" onclick="validateCoupon()" class="couponbtn"/>

</div>

	]]>
   </label>
</labeltemplate>