<?xml version="1.0"?>
<logintemplate>
 <direction name="Vertical">
  <![CDATA[
   <div id="loginForm">
	        <div id="haslogin"></div>
			<div id="nologin">
	         <a href="login.aspx"><img src="images/login.png"/></a>
             <a href="reg.aspx"><img src="images/reg.png"/></a>
		 </div>
    </div>
	 ]]>

 </direction>
 
 
 <loginjs>
	<![CDATA[
	<script>
	jQuery(document).ready(function(){
	  CheckIsLogin();
    });

	function CheckIsLogin()
	{ 
	     jQuery("#nologin").hide();
		 jQuery("#haslogin").show();
		 jQuery("#haslogin").html("登录信息加载中...");
		 jQuery.ajax({
		  type:"POST",
		  datatype: "xml",
		  url:"{$GetInstallDir}plus/ajaxs.ashx",
		  data:"a=checkislogin",
		  success:IsLogin
		 });
	}
	function IsLogin(xml)
	{   
		 var islogin=jQuery(xml).find("login islogin").text();
		 if (islogin=='false'){
		  
		 jQuery("#nologin").show();
		 jQuery("#haslogin").hide();
		 }else{
	      jQuery("#nologin").hide();
		  jQuery("#haslogin").show();
		  var str="";
		  var logindirection="{$LoginDirection}";
		  str+="<div class='ulogin'>您好，<a href='user.aspx'><span class='red'>"+jQuery(xml).find("login username").text()+"</span></a>！<a href='UserLoginOut.aspx' onclick=return(confirm(\'确定退出吗？\'))>[退出]</a>";
		  
		  jQuery("#haslogin").html(str);
		 }
	}
	
	</script>
 ]]>
  </loginjs>
</logintemplate>