<!DOCTYPE html>
<html>
<head>
<title>{$GetSiteName}-找回密码</title>
<meta http-equiv=Content-Type content="text/html; charset=utf-8">
<meta http-equiv="Cache-control" content="max-age=1700">
<meta name="viewport" content="user-scalable=no, width=device-width">
<meta name="MobileOptimized" content="320">
<link href="{$GetInstallDir}3g/images/style.css" rel="stylesheet" type="text/css">

<script src="{$GetInstallDir}ks_inc/jquery.js" type="text/javaScript"></script>
<script src="{$GetInstallDir}ks_inc/Kesion.Common.js" type="text/javaScript"></script>
<script type="text/javascript">

 function checkgetform(){
  if (document.getpassform.PassWord.value==''){
	  $.dialog.alert('请输入您的新密码!',function(){
	  document.getpassform.PassWord.focus();
	  });
	 return false
	}
  if (document.getpassform.PassWord.value.length<6){
	  $.dialog.alert('新密码长度不能少于6位!',function(){
	  document.getpassform.PassWord.focus();
	  });
	 return false
	}
  if (document.getpassform.RePassWord.value==''){
	  $.dialog.alert('请输入重复密码!',function(){
	  document.getpassform.RePassWord.focus();
	  });
	 return false
	}
  if (document.getpassform.PassWord.value!=document.getpassform.RePassWord.value){
	  $.dialog.alert('两次输入的密码不一致!',function(){
	  document.getpassform.RePassWord.focus();
	  });
	 return false
	}
   return true;
 }
</script>
<!--[if IE 6]>
<script src="{$GetInstallDir}ks_inc/iepng.js" type="text/javascript"></script>
<script type="text/javascript">
   EvPNG.fix('div, ul, img, li, input'); 
</script>
<![endif]-->
</head>
<body>
<!-- head begin -->
{KS_3G_底部导航}
<div class="navmain">
	<div class="fl">
		<a href="javascript:;" onClick="history.back()" class="returnbtn">&nbsp;</a>
	</div>
	<div class="fr">
		<a href="#" onClick="openShutManager(this,'ejlmbox')" class="openmore" title="展开栏目">&nbsp;</a>
	</div>
	找回密码
</div>
{KS_3G_通用栏目导航}

<div class="user_topd">
	
	<div class="usertopd">


		<div class="find">
			<div class="wl">欢迎来到{$GetSiteName} 找回密码服务!</div>
			<div class="user_topG">
			   {$GetPassWordForm}
			</div>
		</div>	
	</div>
</div>
	
         
</body>
</html>
