BODY {
	MARGIN: 0px; BACKGROUND-COLOR: #ffffff
}
TD {
	FONT-SIZE: 9pt; COLOR: #3c3c3c; LINE-HEIGHT: 20px; FONT-FAMILY: "ו"; TEXT-DECORATION: none
}
A {
	COLOR: #333333; LINE-HEIGHT: 18px; TEXT-DECORATION: none
}
A:link {
	COLOR: #333333; LINE-HEIGHT: 18px; TEXT-DECORATION: none
}
A:hover {
	COLOR: #0066cc
}
.white {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.white:link {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.white:hover {
	COLOR: #ccff99; TEXT-DECORATION: none
}
A.whitebold:link {
	COLOR: #1e9943; TEXT-DECORATION: none
}
A.whitebold:hover {
	COLOR: #333333; TEXT-DECORATION: none
}
A.a2:hover {
	COLOR: #ff0000; TEXT-DECORATION: none
}
A.a2 {
	COLOR: #ff0000; TEXT-DECORATION: underline
}
A.a3:hover {
	COLOR: #42b4ff; TEXT-DECORATION: none
}
A.a3 {
	COLOR: #0099ff
}
A.a4:hover {
	COLOR: #0066cc
}
A.a4 {
	COLOR: #0066cc; TEXT-DECORATION: underline
}
.p14 {
	FONT-SIZE: 14px; LINE-HEIGHT: 22px
}
INPUT {
	FONT: 9pt ו
}
TEXTAREA {
	FONT: 9pt ו
}
.bold14 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #ffffff; TEXT-DECORATION: none
}
.bold2 {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; TEXT-DECORATION: none
}
.red {
	COLOR: #cc6600; TEXT-DECORATION: none
}
.red2 {
	COLOR: #ff3366; TEXT-DECORATION: none
}
.red3 {
	COLOR: #ff0000; TEXT-DECORATION: none
}
.redbold14 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #ff0000; TEXT-DECORATION: none
}
.blue {
	COLOR: #0066cc; TEXT-DECORATION: none
}
.whitebold14 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #ffffff; TEXT-DECORATION: none
}
.bluebold {
	FONT-WEIGHT: bold; COLOR: #0066cc; TEXT-DECORATION: none
}
.goldbold {
	FONT-WEIGHT: bold; COLOR: #af9632; TEXT-DECORATION: none
}
.gold2bold14 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #ffffcc; TEXT-DECORATION: none
}
.gold {
	COLOR: #af9632; TEXT-DECORATION: none
}
.bluebold14 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #0066cc; TEXT-DECORATION: none
}
.bluebold14_2 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #5eb9f6; TEXT-DECORATION: none
}
.whitebold {
	FONT-WEIGHT: bold; COLOR: #ffffff; TEXT-DECORATION: none
}
.redbold {
	FONT-WEIGHT: bold; COLOR: #ff0000; TEXT-DECORATION: none
}
