<?xml version="1.0" encoding="utf-8"?>
<accountapi>
  <item id="qq" enable="true" name="QQ登录" apiid="203307" apikey="f86b816942fa2659395cb08db842c4fa" apireturnurl="http://tt.kesion.com/user/api/qq/callback.aspx" applyurl="http://connect.qq.com/" token="" uid="" />
  <item id="sina" enable="true" name="新浪微博登录" apiid="3578538914" apikey="52bb6891067fa0e5ed10d61ecc248143" apireturnurl="http://tt.kesion.com/user/api/sina/callback.aspx" applyurl="http://open.weibo.com/" token="" uid="" />
  <item id="alipay" enable="true" name="支付宝快捷登录" apiid="2088002171003062" apikey="okq85q7pud8yuteinx0bwxnebl1efn5g" apireturnurl="http://tt.kesion.com/user/api/alipay/callback.aspx" applyurl="https://b.alipay.com/order/slaverIndex.htm?rewardIds=vtq05uWfOIk-Ht9P1HzAYTlNX7GOvULv" />
</accountapi>