<?xml version="1.0" encoding="gb2312"?>
<annexfield>
  <table name="KS_Advertise" field="PicFlashUrl" />
  <table name="KS_Announce" field="content" />
  <table name="KS_AskClass" field="ClassBasicInfo" />
  <table name="KS_AskPost" field="content" />
  <table name="KS_AskTopic" field="content" />
  <table name="KS_AskZJ" field="userface" />
  <table name="KS_Class" field="ClassBasicInfo" />
  <table name="KS_InfoList" field="DefaultPic" />
  <table name="KS_ProBrand" field="PhotoUrl" />
  <table name="KS_ProductList" field="DefaultPic,BigPhoto" />
  <table name="KS_ProGroupBuy" field="PhotoUrl,BigPhoto,Intro,Notes" />
  <table name="KS_ProImages" field="PhotoUrl,BigPhoto" />
  <table name="KS_ProLimitBuy" field="PhotoUrl" />
  <table name="KS_SJ" field="Intro" />
  <table name="KS_SJClass" field="ClassBasicInfo" />
  <table name="KS_Special" field="SpecialPic" />
  <table name="1" field="Content" />
  <table name="2" field="Content" />
  <table name="3" field="Content" />
  <table name="4" field="Content" />
  <table name="1" field="DefaultPic" />
  <table name="2" field="DefaultPic" />
  <table name="3" field="DefaultPic" />
  <table name="4" field="DefaultPic" />
  <table name="KS_User" field="UserFace" />
  <table name="KS_ProLimitBuy" field="PhotoUrl" />
  <table name="KS_U_Product" field="spggt" />
</annexfield>