<?xml version="1.0"?>
<AskConfigInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <AskDomain />
  <AskName>问答频道</AskName>
  <AskStatus>1</AskStatus>
  <AskInstallDir>Ask</AskInstallDir>
  <AskSeoTitle>KESIONIAsk在线问答系统</AskSeoTitle>
  <AskSeoKeyWords>&lt;meta content="科汛问答系统,考试系统,模拟考试" name="keywords"/&gt;</AskSeoKeyWords>
  <AskSeoDescript>&lt;meta content="KesionICMS问答系统是漳州科兴信息技术有限公司基于Net 4.0架构开发的社交系统" name="description"/&gt;</AskSeoDescript>
  <AskReplyVerifyTF>0</AskReplyVerifyTF>
  <AskVisitorTF>1</AskVisitorTF>
  <AskReplyVisitorTF>0</AskReplyVisitorTF>
  <AskDelTopic>2</AskDelTopic>
  <AskDelAnswer>2</AskDelAnswer>
  <AskAnswerOwnQuestion>1</AskAnswerOwnQuestion>
  <AskIndexTemplate>{$TemplateDir}/问答系统/问答首页模板.html</AskIndexTemplate>
  <AskListTemplate>{$TemplateDir}/问答系统/列表页.html</AskListTemplate>
  <AskContentTemplate>{$TemplateDir}/问答系统/详情页.html</AskContentTemplate>
  <AskTemplate>{$TemplateDir}/问答系统/提问模板.html</AskTemplate>
  <AskZJTemplate>{$TemplateDir}/问答系统/专家在线.html</AskZJTemplate>
  <AskPubVerify>0</AskPubVerify>
  <AskVefiyModify>2</AskVefiyModify>
  <AskScore>1|2|3|4|5|6|7|8|9|10|11|</AskScore>
</AskConfigInfo>