<?xml version="1.0"?>
<BBSConfigInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <BBSDomain />
  <BBSName>微社区</BBSName>
  <BBSStatus>1</BBSStatus>
  <BBSInstallDir>BBS</BBSInstallDir>
  <BBSSeoTitle>KESIONIBBS在线问答系统</BBSSeoTitle>
  <BBSSeoKeyWords>&lt;meta content="科汛微论坛系统,考试系统,模拟考试" name="keywords"&gt;</BBSSeoKeyWords>
  <BBSSeoDescript>&lt;meta content="KesionICMS　微社区是漳州科兴信息技术有限公司基于Net 4.0架构开发的社交系统" name="description"/&gt;</BBSSeoDescript>
  <BBSReplyVerifyTF>0</BBSReplyVerifyTF>
  <BBSVisitorTF>0</BBSVisitorTF>
  <BBSReplyVisitorTF>0</BBSReplyVisitorTF>
  <BBSDelTopic>1</BBSDelTopic>
  <BBSDelAnswer>1</BBSDelAnswer>
  <BBSAnswerOwnQuestion>1</BBSAnswerOwnQuestion>
  <BBSIndexTemplate>{$TemplateDir}/论坛系统/论坛首页模板.html</BBSIndexTemplate>
  <BBSBoardTemplate>{$TemplateDir}/论坛系统/版面列表页模板.html</BBSBoardTemplate>
  <BBSContentTemplate>{$TemplateDir}/论坛系统/帖子详情页模板.html</BBSContentTemplate>
  <BBSTemplate>{$TemplateDir}/论坛系统/发表话题模板.html</BBSTemplate>
  <BBSSubBoardTemplate>{$TemplateDir}/论坛系统/论坛子版块列表.html</BBSSubBoardTemplate>
  <BBSPubVerify>0</BBSPubVerify>
  <BBSVefiyModify>2</BBSVefiyModify>
  <BBSScore />
  <Setting>5|500|5|500|1|1|1|gif,jpg,png|2000|flv,mp4|100000|rar,doc|1024</Setting>
</BBSConfigInfo>