<?xml version="1.0"?>
<BlogConfigInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <BlogStatus>1</BlogStatus>
  <BlogPattern>0</BlogPattern>
  <BlogEnDomain>0</BlogEnDomain>
  <BlogIndexDomain>space.kesion.com</BlogIndexDomain>
  <BlogSubDomain>space.kesion.com</BlogSubDomain>
  <BlogAutoSpace>1</BlogAutoSpace>
  <BlogEnCheck>1</BlogEnCheck>
  <BlogArticleList>10</BlogArticleList>
  <BlogAlbumList>12</BlogAlbumList>
  <BlogCorpusList>8</BlogCorpusList>
  <BlogAskList>8</BlogAskList>
  <BlogArticleCredits>0</BlogArticleCredits>
  <BlogAlbumCredits>0</BlogAlbumCredits>
  <BlogArticleEnCheck>1</BlogArticleEnCheck>
  <BlogArticleUploadFileSwitch>1</BlogArticleUploadFileSwitch>
  <BlogArticleFileExt>png|gif | jpg | rar|doc</BlogArticleFileExt>
  <BlogArticleFileSize>1000</BlogArticleFileSize>
  <BlogArticleFileTimes>20</BlogArticleFileTimes>
  <BlogArticleFileGroups>1,2,3</BlogArticleFileGroups>
  <BlogAlbumEnCheck>0</BlogAlbumEnCheck>
  <BlogAlbumFileSize>10002</BlogAlbumFileSize>
  <BlogMessageEnCheck>1</BlogMessageEnCheck>
  <BlogMessageEnComment>1</BlogMessageEnComment>
  <BlogCustomPageUserGroups>1,2,3</BlogCustomPageUserGroups>
  <BlogLogoSize>2048</BlogLogoSize>
  <BlogLogoExt>jpg|png|gif</BlogLogoExt>
</BlogConfigInfo>