<?xml version="1.0"?>
<message>
   <title>
    <![CDATA[恭喜，您发表的稿件[{$title}]已通过审核！！！]]>
   </title>
   <content>
    <![CDATA[
	您好{$username}，您发表的稿件{$title} 已通过审核!<br/>
	获得积分：<span style="color:green">{$score}</span>分<br/>
	获得点券：<span style="color:green">{$point}</span>点<br/>
	
	<br />备注：此信息由系统自动发布，请不要回复！！！
	]]>
   </content>
</message>