<?xml version="1.0" encoding="utf-8" ?>
<perpage>
<item id="1" issys="1" name="文档管理" page="ks.contentmanage.aspx" num="20"/>
<item id="2" issys="1" name="文档栏目管理" page="ks.class.aspx" num="20"/>
<item id="3" issys="1" name="专题及专题分类管理" page="ks.special.aspx" num="20"/>
<item id="4" issys="1" name="文档回收站管理" page="ks.recyclebin.aspx" num="20"/>
<item id="5" issys="1" name="评论管理" page="ks.comment.aspx" num="20"/>
<item id="6" issys="1" name="DIGG,表情管理" page="ks.digglist.aspx" num="20"/>
<item id="7" issys="1" name="作者、来源及关键字管理" page="ks.author.aspx" num="20"/>
<item id="8" issys="1" name="商品、品牌管理" page="ks.shopmanage.aspx" num="20"/>
<item id="9" issys="1" name="商城订单管理" page="ks.shoporder.aspx" num="20"/>
<item id="10" issys="1" name="发退货查询处理" page="ks.shoplogdelivery.aspx" num="20"/>
<item id="11" issys="1" name="已开发票查询处理" page="ks.shoploginvoice.aspx" num="20"/>
<item id="12" issys="1" name="商品评价、咨询管理" page="ks.shopcomment.aspx" num="20"/>
<item id="13" issys="1" name="商品回收站" page="ks.shoprecyclebin.aspx" num="20"/>
<item id="14" issys="1" name="限时限量抢购" page="ks.shoplimitbuy.aspx" num="20"/>
<item id="15" issys="1" name="团购管理" page="ks.shopgroupbuy.aspx" num="20"/>
<item id="16" issys="1" name="团购分类管理" page="ks.shopgroupbuyclass.aspx" num="20"/>
<item id="17" issys="1" name="团购销售详情" page="ks.shopgroupbuysell.aspx" num="20"/>
<item id="18" issys="1" name="优惠券、规格及收货地址等管理" page="ks.shopcoupon.aspx" num="20"/>
<item id="19" issys="1" name="试卷管理" page="ks.sj.aspx" num="20"/>
<item id="20" issys="1" name="题库管理" page="ks.sjtk.aspx" num="20"/>
<item id="21" issys="1" name="选题组卷" page="ks.sjxtzj.aspx" num="20"/>
<item id="22" issys="1" name="试题纠错、成绩及监控等管理" page="ks.sjcorrection.aspx" num="20"/>
<item id="23" issys="1" name="准考证列表管理" page="ks.zgcarditem.aspx" num="20"/>
<item id="24" issys="1" name="试卷分类，类别、知识点及成绩段等管理" page="ks.sjcategory.aspx" num="50"/>
<item id="25" issys="1" name="辅助系统友情链接，公告等管理" page="ks.link.aspx" num="20"/>
<item id="26" issys="1" name="问答分类及专家分类管理" page="ks.askcategory.aspx" num="20"/>
<item id="27" issys="1" name="问答问题，回答等管理" page="ks.asktopic.aspx" num="20"/>
<item id="28" issys="1" name="会员、管理员、部门及空间等管理" page="ks.user.aspx" num="20"/>
<item id="29" issys="1" name="标签管理" page="ks.label.aspx" num="50"/>
</perpage>
