<?xml version="1.0" encoding="utf-8"?>
<item>
  <fsoitem isfinish="1" id="1" channelid="1">
    <name>文章系统</name>
    <fsotype>content</fsotype>
  </fsoitem>
  <fsoitem isfinish="1" id="2" channelid="2">
    <name>图片系统</name>
    <fsotype>content</fsotype>
  </fsoitem>
  <fsoitem isfinish="1" id="3" channelid="3">
    <name>下载系统</name>
    <fsotype>content</fsotype>
  </fsoitem>
  <fsoitem isfinish="0" id="4" channelid="4">
    <name>商城系统</name>
    <fsotype>content</fsotype>
  </fsoitem>
  <fsoitem isfinish="0" id="5" channelid="0">
    <name>网站首页</name>
    <fsotype>0</fsotype>
  </fsoitem>
</item>