<?xml version="1.0" encoding="utf-8"?>
<smsapi>
  <item id="1" default="true" encrypt="md5" encoding="gbk" name="掌翼信使" apiid="1111" apikey="1111" apiposturl="http://sdk.zyer.cn/SmsService/SmsService.asmx/SendEx" apipostparam="LoginName={$user}&amp;Password={$pass}&amp;SendSim={$mobile}&amp;MsgContext={$content}&amp;SmsKind=808&amp;ExpSmsId=" successtag="&lt;Code&gt;0&lt;/Code&gt;" applyurl="http://www.kesion.com" apibalanceurl="http://sdk.zyer.cn/SmsService/SmsService.asmx/GetBalance" apibalancebegintag="&lt;Balance&gt;" apibalancepostdata="LoginName={$user}&amp;Password={$pass}&amp;SmsKind=808" apibalanceendtag="&lt;/Balance&gt;" />
</smsapi>