<?xml version="1.0" encoding="utf-8"?>
<smsmodel>
  <item id="1" model="adminlogin" enable="true" name="后台登录管理">
    <content>在{$sitename}后台登录验证码为{$code}。 
</content>
    <tag><![CDATA[网站名称：{$sitename} 验证码：{$code}]]></tag>
  </item>
  <item id="2" model="userreg" enable="false" name="会员注册">
    <content>尊敬的客户,在{$sitename}网站注册验证码{$code}。
</content>
    <tag><![CDATA[网站名称：{$sitename} 验证码：{$code}]]></tag>
  </item>
  <item id="3" model="regok" enable="false" name="会员注册成功">
    <content>尊敬的客户,{$sitename}网会员注册成功，用户名：{$username} 密码 ：{$password}。
</content>
    <tag><![CDATA[网站名称：{$sitename} 用户名：{$username} 密码：{$password}]]></tag>
  </item>
  <item id="4" model="modifymobile" enable="true" name="会员绑定手机">
    <content>尊敬的客户,在{$sitename}网站绑定手机的验证码{$code}。</content>
    <tag><![CDATA[网站名称：{$sitename} 验证码：{$code}]]></tag>
  </item>
  <item id="5" model="getpass" enable="true" name="取回密码">
    <content>尊敬的客户,在{$sitename}网站找回密码验证码{$code}。 
</content>
    <tag><![CDATA[网站名称：{$sitename} 验证码：{$code}]]></tag>
  </item>
  <item id="6" model="dopay" enable="false" name="预付款支付">
    <content>尊敬的客户,在{$sitename}网站支付{$money} 验证码{$code}。 
</content>
    <tag><![CDATA[网站名称：{$sitename} 验证码：{$code} 支付金额：{$money}]]></tag>
  </item>
</smsmodel>