<?xml version="1.0"?>
<uploadsetting>
   <item module="common" api="admin" name="后台通用图片上传"  btntext="上传图片" btnwidth="60" allowext="jpg|gif|png|bmp" limitsize="2048" showthumb="0" addwatermark="0" createthumbs="0" tips="限制：{#size},支持{#ext} 图片,建议大小130*130。"><![CDATA[
	    KesionJS.AlertByTime('1','恭喜文件上传成功！',2);
		parent.document.getElementById('{#fieldid}').value={#return};
		try {
			parent.document.getElementById("show{#fieldid}").style.display = '';
			parent.document.getElementById("show{#fieldid}").src = {#return};
		}
		catch (e) {
		}
	]]></item>
  <item module="shopspecial" api="admin" name="商城上传规格图片"  btntext="上传图片" btnwidth="60" allowext="jpg|gif|png|bmp" limitsize="2048" showthumb="0" addwatermark="0" createthumbs="1" thumbwidth="30" thumbheight="30"><![CDATA[
	    KesionJS.AlertByTime('1','恭喜文件上传成功！',2);
		parent.document.getElementById('{#fieldid}').value={#return};
		try {
			parent.document.getElementById("show{#fieldid}").style.display = '';
			parent.document.getElementById("show{#fieldid}").src = {#return}.split('@')[0];
		}
		catch (e) {
		}
	]]></item>
  <item module="classpic" api="admin" name="上传栏目图片"  btntext="上传图片" btnwidth="60" allowext="jpg|gif|png" limitsize="2048" showthumb="0" addwatermark="0" createthumbs="0"><![CDATA[
	    KesionJS.AlertByTime('1','恭喜文件上传成功！',2);
		parent.document.getElementById('{#fieldid}').value={#return};
	]]></item>

  <item module="userface" api="user" name="上传头像" btntext="上传头像" btnwidth="70" allowext="jpg|gif|png" limitsize="2048"  addwatermark="0" showthumb="0" thumbarr="200x200,120x120,60x60,30x30" createthumbs="0" tips="限制：{#size},支持格式：{#ext}。">
    <![CDATA[
	    KesionJS.AlertByTime('1','恭喜，头像上传成功！',2);
		$("img[userface]",parent.document).each(function(){
		 $(this).attr("src",$(this).attr("src")+"?p="+Math.random());
		});
		
		parent.document.getElementById('{#fieldid}').value={#return};
	]]></item>
  <item module="spacelogo" api="user" name="上传空间LOGO"  btntext="上传LOGO" btnwidth="70" allowext="jpg|png|gif" limitsize="2048" showthumb="0" addwatermark="0" createthumbs="0" tips="限制：{#size},支持{#ext} 图片,建议大小130*130。"><![CDATA[
	    KesionJS.AlertByTime('1','恭喜，LOGO上传成功！',2);
		$("img[userface]",parent.document).attr("src",{#return}+"?p="+Math.random());
		parent.document.getElementById('{#fieldid}').value={#return};
	]]></item>
</uploadsetting>