<?xml version="1.0"?>
<urls>
  <rewrite id="1" enable="true" issys="1" text="blogclist" pattern="space/(\d+)/(\w+)/(\w+)/([a-zA-z0-9]+)/(\d+)[ext]" page="space/?$1/$2/$3/$4/page=$5" urlrule="space/{$uid}/{$action}/{$do}/{$id}/{$page}[ext]" />
  <rewrite id="2" enable="true" issys="1" text="tagslist" pattern="tags/(.*)[ext]" page="plus/tags.aspx?key=$1" urlrule="tags/{$id}[ext]" />
  <rewrite id="3" enable="true" issys="1" text="tags" pattern="tags[ext]" page="plus/tags.aspx" urlrule="tags[ext]" />
  <rewrite id="4" enable="true" issys="1" text="contentlist" pattern="a/(\d+)[ext]" page="model/list.aspx?id=$1" urlrule="a/{$id}[ext]" />
  <rewrite id="5" enable="true" issys="1" text="contentlistpage" pattern="a/(\d+)-(\d+)[ext]" page="model/list.aspx?id=$1^page=$2" urlrule="a/{$id}-{$page}[ext]" />
  <rewrite id="6" enable="true" issys="1" text="contentview" pattern="v-(\d+)-(\d+)[ext]" page="model/view.aspx?m_id=$1^id=$2" urlrule="v-{$modelid}-{$id}[ext]" />
  <rewrite id="7" enable="true" issys="1" text="contentviewpage" pattern="v-(\d+)-(\d+)-(\d+)[ext]" page="model/view.aspx?m_id=$1^id=$2^page=$3" urlrule="v-{$modelid}-{$id}-{$page}[ext]" />
  <rewrite id="8" enable="true" issys="1" text="photoview" pattern="pic-(\d+)-(\d+)[ext]" page="model/view.aspx?m_id=$1^id=$2" urlrule="pic-{$modelid}-{$id}[ext]" />
  <rewrite id="9" enable="true" issys="1" text="downview" pattern="down-(\d+)-(\d+)[ext]" page="model/view.aspx?m_id=$1^id=$2" urlrule="down-{$modelid}-{$id}[ext]" />
  <rewrite id="10" enable="true" issys="1" text="shopview" pattern="product-(\d+)-(\d+)[ext]" page="model/view.aspx?m_id=$1^id=$2" urlrule="product-{$modelid}-{$id}[ext]" />
  <rewrite id="10" enable="true" issys="1" text="shopview4" pattern="product-(\d+)[ext]" page="model/view.aspx?m_id=4^id=$1" urlrule="product-{$id}[ext]" />
  <rewrite id="11" enable="true" issys="1" text="special" pattern="s/(\d+)[ext]" page="model/special.aspx?id=$1" urlrule="s/{$id}[ext]" />
  <rewrite id="12" enable="true" issys="1" text="speciallist" pattern="t/(\d+)[ext]" page="model/TopicList.aspx?id=$1" urlrule="t/{$id}[ext]" />
  <rewrite id="13" enable="true" issys="1" text="speciallistpage" pattern="t/(\d+)-(\d+)[ext]" page="model/TopicList.aspx?id=$1^page=$2" urlrule="t/{$id}-{$page}[ext]" />
  <rewrite id="14" enable="true" issys="1" text="specialindex" pattern="specialindex[ext]" page="model/TopicIndex.aspx" urlrule="specialindex[ext]" />
  <rewrite id="15" enable="true" issys="1" text="shoplist" pattern="mall/(.*)" page="shop/index.aspx?$1" urlrule="mall/{$query}" />
  <rewrite id="16" enable="true" issys="1" text="groupbuyview" pattern="groupbuy/view-(\d+)[ext]" page="shop/groupbuyshow.aspx?id=$1" urlrule="groupbuy/view-{$id}[ext]" />
  <rewrite id="17" enable="true" issys="1" text="groupbuyhistory" pattern="groupbuy/history/index[ext]" page="shop/groupbuyhistory.aspx" urlrule="groupbuy/history/index[ext]" />
  <rewrite id="18" enable="true" issys="1" text="groupbuycart" pattern="groupbuy/cart-(\d+)[ext]" page="shop/groupbuycart.aspx?id=$1" urlrule="groupbuy/cart-{$id}[ext]" />
  <rewrite id="19" enable="true" issys="1" text="groupbuylist" pattern="groupbuy/(.*)" page="shop/groupbuyindex.aspx?$1" urlrule="groupbuy/{$query}" />
  <rewrite id="20" enable="true" issys="1" text="limitbuyindex" pattern="limitbuy/index[ext]" page="shop/limitbuyindex.aspx" urlrule="limitbuy/index[ext]" />
  <rewrite id="21" enable="true" issys="1" text="limitbuyview" pattern="limitbuy/view_(\d+)[ext]" page="shop/limitbuy.aspx?id=$1" urlrule="limitbuy/view_{$id}[ext]" />
  <rewrite id="22" enable="true" issys="1" text="brandindex" pattern="brand/index[ext]" page="shop/brandindex.aspx" urlrule="brand/index[ext]" />
  <rewrite id="23" enable="true" issys="1" text="brandview" pattern="brand/view_(\d+)[ext]" page="shop/brand.aspx?id=$1" urlrule="brand/view_{$id}[ext]" />
  <rewrite id="24" enable="true" issys="1" text="scoreindex" pattern="score/index[ext]" page="shop/score.aspx" urlrule="score/index[ext]" />
  <rewrite id="25" enable="true" issys="1" text="jingjiaindex" pattern="jingjia/index[ext]" page="shop/jingjia.aspx" urlrule="jingjia/index[ext]" />
  <rewrite id="26" enable="true" issys="1" text="examlist" pattern="examlist/(.*)" page="exam/list.aspx?$1" urlrule="examlist/{$query}" />
  <rewrite id="27" enable="true" issys="1" text="examview" pattern="exam/paper-(\d+)[ext]" page="exam/view.aspx?id=$1" urlrule="exam/paper-{$id}[ext]" />
  <rewrite id="28" enable="true" issys="1" text="examreviews" pattern="exam/reviews-(\d+)[ext]" page="exam/reviews.aspx?id=$1" urlrule="exam/reviews-{$id}[ext]" />
  <rewrite id="29" enable="true" issys="1" text="asklist" pattern="asklist/(.*)" page="ask/list.aspx?$1" urlrule="asklist/{$query}" />
  <rewrite id="30" enable="true" issys="1" text="askview" pattern="ask/q-(\d+)[ext]" page="ask/question.aspx?id=$1" urlrule="ask/q-{$id}[ext]" />
  <rewrite id="31" enable="true" issys="1" text="blog" pattern="space/(\d+)[ext]" page="space/?$1" urlrule="space/{$id}[ext]" />
  <rewrite id="32" enable="true" issys="1" text="bloglist" pattern="space/(\d+)/([a-zA-z0-9]+)[ext]" page="space/?$1/$2" urlrule="space/{$id}/{$other}[ext]" />
  <rewrite id="33" enable="true" issys="1" text="blogview" pattern="space/(\d+)/(\w+)/(\w+)/(\d+)[ext]" page="space/?$1/$2/$3/$4" urlrule="space/{$uid}/{$action}/{$do}/{$id}[ext]" />
  <rewrite id="34" enable="true" issys="1" text="bloglistpage" pattern="space/(\d+)/([a-zA-z0-9]+)/(\d+)[ext]" page="space/?$1/$2.aspx?page=$3" urlrule="space/{$uid}/{$action}/{$page}[ext]" />
  <rewrite id="35" enable="true" issys="1" text="reg" pattern="reg[ext]" page="user/userreg.aspx" urlrule="reg[ext]" />
  <rewrite id="36" enable="true" issys="1" text="regok" pattern="regok[ext]" page="user/UserRegOK.aspx" urlrule="regok[ext]" />
  <rewrite id="37" enable="true" issys="1" text="getpassword" pattern="GetPass[ext]" page="user/getpassword.aspx" urlrule="GetPass[ext]" />
  <rewrite id="38" enable="true" issys="1" text="qqlogin" pattern="qqlogin[ext]" page="user/api/qq/login.aspx" urlrule="qqlogin[ext]" />
  <rewrite id="39" enable="true" issys="1" text="sinalogin" pattern="sinalogin[ext]" page="user/api/sina/login.aspx" urlrule="sinalogin[ext]" />
  <rewrite id="40" enable="true" issys="1" text="alipaylogin" pattern="alipaylogin[ext]" page="user/api/alipay/login.aspx" urlrule="alipaylogin[ext]" />
  <rewrite id="41" enable="true" issys="1" text="userlogin" pattern="login[ext]" page="user/login.aspx" urlrule="login[ext]" />
  <rewrite id="42" enable="true" issys="1" text="map" pattern="map[ext]" page="plus/map.aspx" urlrule="map[ext]" />
  <rewrite id="43" enable="true" issys="1" text="search" pattern="search[ext]" page="plus/search.aspx" urlrule="search[ext]" />
  <rewrite id="44" enable="true" issys="1" text="link" pattern="link[ext]" page="plus/link/index.aspx" urlrule="link[ext]" />
  <rewrite id="45" enable="true" issys="1" text="linkapply" pattern="linkapply[ext]" page="plus/link/apply.aspx" urlrule="linkapply[ext]" />
  <rewrite id="46" enable="false" issys="1" text="announce" pattern="announce/(\d+)[ext]" page="plus/announce.aspx?id=$1" urlrule="announce/{$id}[ext]" />
  <rewrite id="47" enable="true" issys="1" text="announcelist" pattern="announcelist[ext]" page="plus/announce.aspx?id=0" urlrule="announcelist[ext]" />
</urls>