<?xml version="1.0"?>
<UserField>
  <Field Name="realname" OrderID="1">
    <Disabled>true</Disabled>
    <FieldAlias>真实姓名</FieldAlias>
    <Tips>请务必填写你的真实姓名</Tips>
    <FieldType>1</FieldType>
    <FieldLevel>1</FieldLevel>
    <FieldWidth>260</FieldWidth>
    <FieldHeight>100</FieldHeight>
    <AllowFileExt>
    </AllowFileExt>
    <MaxFileSize>
    </MaxFileSize>
    <DefaultValue>
    </DefaultValue>
    <Options>
    </Options>
    <ToolBar>Basic</ToolBar>
    <InputItem>1</InputItem>
    <ContributionItem>1</ContributionItem>
    <SearchItem>0</SearchItem>
    <CollectItem>0</CollectItem>
    <MustFillItem>1</MustFillItem>
  </Field>
  <Field Name="sex" OrderID="2">
    <Disabled>true</Disabled>
    <FieldAlias>性别</FieldAlias>
    <Tips>
    </Tips>
    <FieldType>5</FieldType>
    <FieldLevel>1</FieldLevel>
    <FieldWidth>160</FieldWidth>
    <FieldHeight>100</FieldHeight>
    <AllowFileExt>
    </AllowFileExt>
    <MaxFileSize>
    </MaxFileSize>
    <DefaultValue>男</DefaultValue>
    <Options>男
女</Options>
    <ToolBar>Basic</ToolBar>
    <InputItem>1</InputItem>
    <ContributionItem>1</ContributionItem>
    <SearchItem>0</SearchItem>
    <CollectItem>0</CollectItem>
    <MustFillItem>0</MustFillItem>
  </Field>
  <Field Name="birthday" OrderID="3">
    <Disabled>true</Disabled>
    <FieldAlias>出生日期</FieldAlias>
    <Tips>
    </Tips>
    <FieldType>7</FieldType>
    <FieldLevel>1</FieldLevel>
    <FieldWidth>160</FieldWidth>
    <FieldHeight>100</FieldHeight>
    <AllowFileExt>
    </AllowFileExt>
    <MaxFileSize>
    </MaxFileSize>
    <DefaultValue>
    </DefaultValue>
    <Options>
    </Options>
    <ToolBar>Basic</ToolBar>
    <InputItem>1</InputItem>
    <ContributionItem>1</ContributionItem>
    <SearchItem>0</SearchItem>
    <CollectItem>0</CollectItem>
    <MustFillItem>1</MustFillItem>
  </Field>
  <Field Name="IdCard" OrderID="4">
    <Disabled>true</Disabled>
    <FieldAlias>身份证</FieldAlias>
    <Tips>
    </Tips>
    <FieldType>1</FieldType>
    <FieldLevel>1</FieldLevel>
    <FieldWidth>160</FieldWidth>
    <FieldHeight>100</FieldHeight>
    <AllowFileExt>
    </AllowFileExt>
    <MaxFileSize>
    </MaxFileSize>
    <DefaultValue>
    </DefaultValue>
    <Options>
    </Options>
    <ToolBar>Basic</ToolBar>
    <InputItem>1</InputItem>
    <ContributionItem>1</ContributionItem>
    <SearchItem>0</SearchItem>
    <CollectItem>0</CollectItem>
    <MustFillItem>1</MustFillItem>
  </Field>
  <Field Name="sign" OrderID="5">
    <Disabled>true</Disabled>
    <FieldAlias>个人签名</FieldAlias>
    <Tips>
    </Tips>
    <FieldType>2</FieldType>
    <FieldLevel>1</FieldLevel>
    <FieldWidth>380</FieldWidth>
    <FieldHeight>100</FieldHeight>
    <AllowFileExt>
    </AllowFileExt>
    <MaxFileSize>
    </MaxFileSize>
    <DefaultValue>
    </DefaultValue>
    <Options>
    </Options>
    <ToolBar>Basic</ToolBar>
    <InputItem>1</InputItem>
    <ContributionItem>1</ContributionItem>
    <SearchItem>0</SearchItem>
    <CollectItem>0</CollectItem>
    <MustFillItem>0</MustFillItem>
  </Field>
  <Field Name="companyname" OrderID="6">
    <Disabled>true</Disabled>
    <FieldAlias>公司名称</FieldAlias>
    <Tips>
    </Tips>
    <FieldType>1</FieldType>
    <FieldLevel>1</FieldLevel>
    <FieldWidth>160</FieldWidth>
    <FieldHeight>100</FieldHeight>
    <AllowFileExt>
    </AllowFileExt>
    <MaxFileSize>
    </MaxFileSize>
    <DefaultValue>
    </DefaultValue>
    <Options>
    </Options>
    <ToolBar>Basic</ToolBar>
    <InputItem>1</InputItem>
    <ContributionItem>1</ContributionItem>
    <SearchItem>0</SearchItem>
    <CollectItem>0</CollectItem>
    <MustFillItem>1</MustFillItem>
  </Field>
  <Field Name="address" OrderID="7">
    <Disabled>true</Disabled>
    <FieldAlias>联系地址</FieldAlias>
    <Tips>
    </Tips>
    <FieldType>1</FieldType>
    <FieldLevel>1</FieldLevel>
    <FieldWidth>0</FieldWidth>
    <FieldHeight>100</FieldHeight>
    <AllowFileExt>
    </AllowFileExt>
    <MaxFileSize>
    </MaxFileSize>
    <DefaultValue>
    </DefaultValue>
    <Options>
    </Options>
    <ToolBar>Basic</ToolBar>
    <InputItem>1</InputItem>
    <ContributionItem>1</ContributionItem>
    <SearchItem>0</SearchItem>
    <CollectItem>0</CollectItem>
    <MustFillItem>0</MustFillItem>
  </Field>
  <Field Name="zipcode" OrderID="8">
    <Disabled>true</Disabled>
    <FieldAlias>邮编</FieldAlias>
    <Tips>
    </Tips>
    <FieldType>1</FieldType>
    <FieldLevel>1</FieldLevel>
    <FieldWidth>160</FieldWidth>
    <FieldHeight>100</FieldHeight>
    <AllowFileExt>
    </AllowFileExt>
    <MaxFileSize>
    </MaxFileSize>
    <DefaultValue>
    </DefaultValue>
    <Options>
    </Options>
    <ToolBar>Basic</ToolBar>
    <InputItem>1</InputItem>
    <ContributionItem>1</ContributionItem>
    <SearchItem>0</SearchItem>
    <CollectItem>0</CollectItem>
    <MustFillItem>0</MustFillItem>
  </Field>
  <Field Name="intro" OrderID="12">
    <Disabled>true</Disabled>
    <FieldAlias>公司介绍</FieldAlias>
    <Tips>请在此录入您的公司简介</Tips>
    <FieldType>3</FieldType>
    <FieldLevel>1</FieldLevel>
    <FieldWidth>600</FieldWidth>
    <FieldHeight>200</FieldHeight>
    <AllowFileExt>
    </AllowFileExt>
    <MaxFileSize>
    </MaxFileSize>
    <DefaultValue>
    </DefaultValue>
    <Options>
    </Options>
    <ToolBar>Basic</ToolBar>
    <InputItem>1</InputItem>
    <ContributionItem>1</ContributionItem>
    <SearchItem>0</SearchItem>
    <CollectItem>0</CollectItem>
    <MustFillItem>0</MustFillItem>
  </Field>
</UserField>