<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="{$GetInstallDir}images/shop/style.css" rel="stylesheet" />
    <link href="{$GetInstallDir}images/photo.css" rel="stylesheet" />
    <link href="{$GetInstallDir}images/sc.css" rel="stylesheet" />
	<title>{$GetSiteTitle}-搜索</title>
	<!--鼠标滑动特效start--> 
	<script src="{$GetInstallDir}ks_inc/jquery.js" language="javascript"></script>
	<script src="{$GetInstallDir}ks_inc/ajaxs.js" language="javascript"></script>
	<style>
	.norecord{width:270px;margin:0 auto;margin-top:20px; height:32px; line-height:32px;padding-left:27px; border:1px solid #f9b49c;color:#e00; background:#fff6e6 url({$GetInstallDir}images/no.gif) no-repeat 10px 50%;font-size:12px}

	</style>
</head>
<body style=" background:#f0f0f0">
{KS_T02商城头部}
	<div class="Dg" style="padding-top:5px;">{KS_位置导航}</div>
	<div class="sc_list">
		<div class="clear"></div>
		<div class="scjg"><div class="idx">搜索 <font color=red>[KS:SearchKey]</font> 的结果,执行时间 <font color=green>[KS:ExecuteTime]</font> 秒：</div></div>
		<div class="clear"></div>
		<div class="idx">
			
				<!-- 主体开始 -->

		<section id="wrapper">
			<div id="container">
				[Loop Times="16"]
					<div class="grid">
                    <div class="imgholder">
                        <a href="{$Field(InfoID,url,1,3)}" title="{$Field(title,text,0,...,2,)}"><img src="{$Field(DefaultPic,text,0,...,2,/sysimg/nopic.gif)}" /></a>
                    </div>
                    <strong><a href="{$Field(InfoID,url,1,3)}" title="{$Field(title,text,0,...,2,)}">{$Field(title,text,24,,2,)}</a></strong>
                    <div class="intro">{$Field(Intro,text,30,...,2,)}</div>
                    <div class="jgbox"><font>{KS:Field:ScoreAndPrice}</font><em>￥{KS:Field:price}</em> <span class="intro">评价{$Field(CmtNum,text,0,...,2,)}条</span></div>
                            <div class="clear"></div>
					</div>
				[/Loop]	
			</div>
		</section>
		<div class="mainbox"><div class="r">[KS:PageStr2]</div></div>
		
		
		
		
		<!-- 主体OVER -->
			
			
			
			
			<div class="sc_list_r">
				<h4>猜你喜欢</h4>
				<div id="container">
					{KS_搜索_猜你喜欢2}
				</div>
			</div>
		</div>
		<div class="clear"></div>
	</div>
	
	
	{KS_商城底部通用}

</body>
</html>
