<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3c.org/TR/1999/REC-html401-19991224/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" /> 
<title>团购-购物车</title>
<link href="{$GetInstallDir}images/shop/style.css" rel="stylesheet" />
<script src="{$GetInstallDir}ks_inc/jquery.js" type="text/javascript"></script>
<script src="{$GetInstallDir}ks_inc/Kesion.common.js" type="text/javascript"></script>

<meta name="keywords" content="{$GetClass_Meta_KeyWord}" />
<meta name="description" content="{$GetClass_Meta_Description}" />
<!--[if IE 6]>
<script src="{$GetInstallDir}ks_inc/iepng.js" type="text/javascript"></script>
<script type="text/javascript">
   EvPNG.fix('div, ul, img, li, input'); 
</script>
<![endif]-->
<style>
tr td{ line-height:20px}
.price{font-size:12px;color:#e00;font-weight:bold;}
.freight{color:green;font-size:12px;}
.tgcart{width:1190px;margin:0 auto;margin-top:15px;background:#fff;padding:5px 10px;border-bottom:15px solid #f1f1f1}
.tgcart h4{height:30px; line-height:30px;padding-left:15px; font-family:"微软雅黑";}
.logomain .right{ float:left; padding-top:42px; margin:0 }
.logomain .right .changecity{ float:left; height:30px; width:148px; padding-top:13px;}
.logomain .sc{ float:left; margin:0 }
</style>
</head>
<body>

{KS_T02商城头部}

	
	<div class="clear"></div>
	 <div class="wrap">
		<div class="gwcbox">
			<div class="gwcbox_l"></div>
			<div class="gwcbox_r">
				<ul>
					<li class="curr">填写核对团购订单信息</li>
					<li>订单成功</li>
				</ul>
			</div>
		</div>
		<div class="tgcart">
		
		 
		   <script src="{$GetSiteUrl}ks_inc/tips.js"></script>
		   <script>var dir="[KS:GroupBuyDir]";var showDeliveryFlag=[KS:ShowDeliveryFlag];var showPayMentFlag=[KS:showPayMentFlag];var IsBusiness=[KS:IsBusiness];</script>
		   <script src="{$GetSiteUrl}shop/groupbuycart.js"></script>
		   <script>DecimalPlaces={$DecimalPlaces};</script>
		   <h4>购买信息</h4>
			<FORM name="myform" action="[KS:GroupBuyDir]shop/groupbuycart.aspx" method="post">
			<INPUT id="Action" type="hidden" value="order" name="Action" />
			<INPUT id="TotalFreight" type="hidden" value="0" name="TotalFreight" />
		   <table width="100%" border="0" cellpadding="0" cellspacing="0">
			  <tr bgcolor="#f5f5f5" height="30">
				<td width="50%"  style="font-weight:bold; text-align:center;">商品名称</td>
				<td style="text-align:center;font-weight:bold;">原价</td>
				<td style="font-weight:bold;text-align:center;">数量</td>
				<td><div align="center"></div></td>
				<td style="font-weight:bold;text-align:center;">团购价</td>
				<td class='yfarea'><div align="center"></div></td>
				<td class='yfarea' style="font-weight:bold;text-align:center;">运费</td>
				<td><div align="center"></div></td>
				<td style="font-weight:bold;text-align:center;">总价</td>
			  </tr>
			  
			  [Loop]
			  <tr>
				<td style="padding:10px; line-height:20px; font-family:'宋体'">
				 <input type="hidden" name="proid_{KS:Field:CartID}" id="proid_{KS:Field:CartID}" value="{KS:Field:ID}"/>
				<a href="{KS:Field:groupbuyurl}" target="_blank" style="font-weight:bold;color:#666">{$Field(subject,text,0,...,2,)}</a>
				<a href="{$GetSiteUrl}shop/GroupBuycart.aspx?action=del&cartid={KS:Field:CartID}" onClick="return(confirm('确定删除!'))" style="color:red">删除</a>
				</td>
				<td align="center"><span class='pricemarket' style="text-decoration:line-through">￥<span id="{KS:Field:CartID}">{KS:Field:price_original}</span>元</span></td>
				<td><div align="center">{KS:Field:ShowBuyNum}</div></td>
				<td><div align="center">X</div></td>
				<td align="center">￥<span id="price_{KS:Field:CartID}">{KS:Field:price}</span></td>
				<td class='yfarea'><div align="center">+</div></td>
				<td class='yfarea' align="center"><span class='subfreight'>{KS:Field:ShowFreight}</span></td>
				<td align="center">=</td>
				<td align="center">
				
				
				<span class='subtotal'>￥<span id="subtotal_{KS:Field:CartID}">{KS:Field:showtotalprice}</span></span></td>
			  </tr>
			  [/Loop]
			  <tr>
				<td colspan="10" align="right" style="font-size:13px;">
				<strong>运费：<span class="freight"><span id="orderFreight">0</span>元</span></strong>&nbsp;&nbsp;
				<strong>
				总共为您节省了：<span class='saveMoney'>￥<span id="SaveMoney">0</span>元</span><br />总金额：<span class='price'>￥<span id='orderTotalPrice'>0</span>元</span>
				
	
				</strong></td>
			  </tr>
		</table>
		   
		   
		   
			
			 
			<div id="showDelivery" style="margin-top:15px"> <!--  这里的ID不能删除 -->
				<div style="border:1px dashed #fd9682;padding:5px 0px 10px 0px">
				<!--收货人地址开始-->
				   <h4>收货人信息</h4>
				   [KS:ShowAddress]
				<!--收货人信息结束-->
				</div>	
			
				<!--配送方式开始-->
				<div id="part_payTypeAndShipType" style="margin-top:15px">
					<div style="border:1px dashed #d5d5d5;padding:10px">
						<h4 style="padding-left:5px">配送方式</h4>
						 <div class='middle' id="ShowDeliveryList"></div>
					</div>		 
				</div>
			<!--及配送方式结束-->
			</div>
			
		   
			<!--支付方式开始-->
			 <div class="clear" style="height:15px"></div>
				 <div id="showPayment">
					 <div style="border:1px dashed #d5d5d5;padding:10px">
						 <h4 style="padding-left:5px">支付方式</h4>
						 [KS:ShowPayment]
					</div> 
				</div>
			 <!--支付方式结束-->
			 <div class="clear" style="height:15px"></div>
					 <div style="border:1px dashed #d5d5d5;padding:10px">
					 <h4 style="height:40px; line-height:30px;padding-left:5px">备注/留言</h4>
				  <table cellSpacing=1 cellPadding=3 width="100%" align=center border=0 class="psxx">
				  <tr>
					<td colspan="2">
				  </td>
				  </tr>
				   <tr>
					   <td align=right width=100>手机号码： </td>
					   <td><input type="text" name="mobile"  id="mobile" value="[KS:Mobile]" size="20"/></td>
				   </tr>
				   <tr>
					   <td align=right width=100>备注/留言： </td>
					   <td><TEXTAREA name="Remark" id="Remark" rows="5" cols="62"></textarea></td>
				   </tr>
				</table> 
		</div>
		
		
		
		<div style="text-align:center;margin:30px">
		<INPUT type="image" src="{$GetInstallDir}Shop/Images/sure.gif" onClick="return(checkOrder())" border="0" alt="确认订单" name=submit2>
		 </div>
		
													
		   </form>
		   
		
		</div>
		<!--团购购物车end-->
		
		
		
		
		</div>
		{KS_商城底部通用}
	</div>
</body>
</html>