<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="{$GetInstallDir}images/shop/style.css" rel="stylesheet" />
    <link href="{$GetInstallDir}images/photo.css" rel="stylesheet" />
	<title>积分兑换- [KS:SearchTitle]</title>
	<script src="{$GetInstallDir}ks_inc/jquery.js" type="text/javascript"></script>
	<script src="{$GetInstallDir}ks_inc/kesion.common.js" type="text/javascript"></script>
	
	<!--商品对比-->
	<style>
	.procompare{ width:980px;height:100px;margin:0 auto;background:#fff;}
	.procompareleft{float:left;width:800px}
	.procompareleft li{width:24%;float:left;height:90px;border-right:1px solid green;margin-bottom:2px;text-align:center}
	.procompareleft li.proli{text-align:left}
	.procompareleft li span.num{width:50px;height:50px;font-size:20px;font-weight:bold;line-height:50px;margin-left:10px;display:block;background:#f1f1f1;float:left;}
	.procompareleft li font{color:#999;font-size:12px;font-weight:normal}
	.procompareright{line-height:30px;float:left;width:160px;text-align:center;}
	.procompareright span{color:#999;font-size:12px;font-weight:normal}
	.procompareleft img{width:60px;height:60px;border:1px solid #f1f1f1;margin:2px;}
	.procompareleft span.price{color:#ff3300;font-weight:bold;text-align:left;}
	.checkcomparetrue{background:#ff6600;color:#fff}
	.checkcomparefalse{background:#f1f1f1;color:#555}
	</style>
	<script src="{$GetInstallDir}shop/js/shop.compare.js"></script>
	<!---商品对比结束--->

	<!--[if lt IE 9]>
	<script src="{$GetInstallDir}ks_inc/html5.js"></script>
	<![endif]-->
	<script src="{$GetInstallDir}ks_inc/blocksit.min.js"></script>
	<script>
	$(document).ready(function() {
		//vendor script
		$('#header')
		.css({ 'top':-50 })
		.delay(1000)
		.animate({'top': 0}, 800);
		
		$('#footer')
		.css({ 'bottom':-15 })
		.delay(1000)
		.animate({'bottom': 0}, 800);
		
		//blocksit define
		$(window).load( function() {
			$('#container').BlocksIt({
				numOfCol: 4,
				offsetX: 7,
				offsetY: 8
			});
		});
		
		
	});
	</script>
	<!--[if IE 6]>
	<script src="/ks_inc/iepng.js" type="text/javascript"></script>
	<script type="text/javascript">
	   EvPNG.fix('div, ul, img, li, input'); 
	</script>
	<![endif]-->
</head>
<body style="background:#f0f0f0;">
{KS_T02商城头部}

	<div class="wrap">
			<div class="clear blank15"></div>
			<div class="mainbox"><img src="{$GetInstallDir}images/shop/00000001000000003ACD00000002F1A2_1.jpg" width="100%" /></div>
			<div class="lmbox">
						<ul>
							
							{KS:Filter("选择分类","ClassID")}
							
							{KS:Filter("选择价格","price","fw","￥500-1000|￥1000-1500|￥1500-2000|￥2000-2500|￥2500以上","500-1000|1000-1500|1500-2000|2000-2500|2500-1000000" )}
							{KS:Filter("选择积分","changescore","fw","0-100分|100-300分|300-500分|500-1000分|1000分以上","0-100|100-300|300-500|500-1000|1000-1000000" )}
							{KS:Filter("纯积分兑换","price_member","fw","是|否","0|0.01-10000000" )}
							
						</ul>	
					<div class="lm_sxbox"> 
					<!---筛选 beigin-->
					 <div class="l">进一步筛选：</div><input type='text' name='keyword' value='[KS:SearchKey]' id='keyword' class="shoptext" /><input onclick="searchByClass()" type='button' value='搜索' class="shopbtn" />
					 <script>
					   function searchByClass(){
						 var url=location.href;
						 var newurl='';
						 if (url.indexOf('?')!=-1){  //没有启用伪静态
						   var param=url.split('?')[1];
						 }else{  
						   param=''
					   }
					   var newparam=getNewSearchParam(param);
						   newurl='score.aspx?'+newparam;
						 location.href=newurl;
					   }
					   function getNewSearchParam(param){ 
						   var key=jQuery("#keyword").val();
						   var parr=param.split(',');
						   var newparam='';
						   for (var i=0;i<parr.length;i++){
							 var pparr=parr[i].split('-');
							 if (pparr[0]=='key'){
							  if (newparam==''){
								newparam='key-'+(key);
							  }else{
								newparam+=',key-'+(key);
							  }
							 }else{
							   if (newparam==''){
								 newparam=parr[i];
							   }else{
								 newparam+=','+parr[i];
							   }
							 }
						   }
						   if (newparam.indexOf('key-')==-1 && key!=''){
							if (newparam==''){
							  newparam='key-'+key;
							}else{
							  newparam+=',key-'+(key);
							}
						   }
						  return newparam;
					   }
					 </script>
					<!---筛选 end-->
					 </div>
					 <div class="clear"></div>
			</div>
			
			
			
			
			<!-- 主体开始 -->
			<div class="shoppictitle">
					<h4 class="l">可兑换商品列表</h4>
					
					 <div class="r">{KS:Order("默认ID|i.infoid asc","销量<img src="/images/shop/bottom.png" />|i.HasSold Desc","价格<img src="/images/shop/top.png" />|price asc","更新时间<img src="/images/shop/bottom.png" />|adddate desc")}</div>
					 
				</div>
			<section id="wrapper">
				<div id="container">
					[Loop Times="16"]
						<div class="grid">
							<div class="imgholder">
								<a href="{$Field(InfoID,url,1,3)}" target="_blank" title="{$Field(title,text,0,...,2,)}"><img src="{$Field(DefaultPic,text,0,...,2,/sysimg/nopic.gif)}" /></a>
							</div>
							<strong><a href="{$Field(InfoID,url,1,3)}" title="{$Field(title,text,0,...,2,)}">{$Field(title,text,24,,2,)}</a></strong>
							<div class="intro">{$Field(Intro,text,30,...,2,)}</div>
							<div class="jgbox"><font>{KS:Field:ScoreAndPrice}</font><em>￥{KS:Field:price}</em> <span class="intro">评价{$Field(CmtNum,text,0,...,2,)}条</span></div>
									<div class="clear"></div>
									<div class="pl_num">
									<label id='compare{$Field(InfoID,url,0,4)}' class="checkcomparefalse"><input class='comparecheck' id='comparecheck{$Field(InfoID,url,0,4)}' type='checkbox' name='compare'  value='{$Field(InfoID,url,0,4)}' onclick="addToCompare({$Field(ChannelID,text,0,,2,)},this.value,this.checked)"/>对比</label>
									</div>
						</div>
					[/Loop]	
				</div>
			</section>
			<div class="clear"></div>
			<div class="mainbox"><div class="r">[KS:PageStr2]</div></div>
			
			<!-- 主体OVER -->
			
			{KS_商城底部通用}
			
	</div>		
			
</body>
</html>
