.mainbox{width:980px;margin:0 auto; overflow:hidden;}
/*图片头部*/

.wrap{width:100%; background:#f1f1f1;}
.wrap .Dg{ margin-top:5px}
.wrap .Dg a{color:#3c8fc6}
.photonav{width:100%;height:35px; background:#fff; overflow:hidden}
.photonav .mainbox .l a{width:35px; float:left; height:35px;}
.photonav .mainbox .l a.homebtn{ background:url(btn.png) no-repeat}
.photonav .mainbox .l a.downbtn{ background:url(btn.png) no-repeat -35px 0px}
.photonav .mainbox .l a:hover{ text-decoration:none}
.photonav .mainbox .r{width:285px; background:url(new.png) no-repeat 0 50%; padding-left:25px;margin-top:5px;}

#lmbox001{width:130px; background:url(flbg.png); padding:10px 0px; z-index:1999999; line-height:26px; position:absolute;margin-top:5px;margin-left:35px;}
#lmbox001 a{ padding:0px 15px}

.photomain{ border-top:15px solid #f1f1f1; }
.photomain ul{width:980px;margin:0 auto;}
.photomain ul li.li01{width:655px; float:left}
.photomain ul li.li01 .title{ background:#fff; position:relative; padding:15px 0px;color:#fff;}
.photomain ul li.li01 .title a.titlehref{color:#333;font-size:18px; padding-left:15px;}
.photomain ul li.li01 .intro{ line-height:20px; padding:8px 15px 0px 15px; text-indent:2em;color:#999}
.photomain ul li.li01 .intro a{color:#3c8fc6; padding-left:5px}

.photomain ul li.li02{width:310px; float:right}
.photomain ul li.li02 .title{ padding:15px 0px; background:#fff; position:relative;color:#fff;}
.photomain ul li.li02 .title a.titlehref{color:#333;font-size:18px; padding-left:15px;}
.photomain ul li.li02 .intro{ line-height:20px; padding:8px 15px 0px 15px; text-indent:2em;color:#999}
.photomain ul li.li02 .intro a{color:#3c8fc6; padding-left:5px}

.photomain02{width:980px;margin:0 auto;margin-top:20px;}
.photomain02 #fenye a.curr{ background:#6cafdb;border:1px solid #6cafdb}

.photomain02 h4{ position:relative; height:45px; line-height:35px;font-size:21px;font-weight:normal; background:url(photoxian.png) repeat-x 0 24px}
.photomain02 h4 span{width:180px; height:45px; background:#f1f1f1; display:block}

.photomain02 .photobox { width:320px; background:#fff; position:relative; overflow:hidden; float:left; margin:15px 0px 0px 15px}
.photomain02 .photobox .caption { bottom:-190px; left:0px; display:none}/*不可删除*/
.photomain02 .photobox .heading span { top:-190px; display:block;}/*不可删除*/

.photomain02 .photobox .heading{ top:-190px; position:absolute; background:url(touming.png); height:190px; width:320px;}
.photomain02 .photobox .heading a{color:#fff; display:block; padding:50px 20px;font-size:12px;line-height:24px;}
.photomain02 .photobox .heading a:hover{ text-decoration:none}
.photomain02 .photobox .photosize{width:100%; height:190px;}
.photomain02 .photobox .ctbox{ line-height:20px;color:#888; padding:15px;}
.photomain02 .photobox .ctbox a{font-size:18px;}
.photomain02 .photobox .ctbox b{font-weight:normal;color:#3c8fc6}

.photomain03{width:980px;margin:0 auto;margin-top:30px;}
.photomain03 h4{ position:relative; height:45px; line-height:35px;font-size:21px;font-weight:normal; background:url(photoxian.png) repeat-x 0 24px}
.photomain03 h4 span{width:180px; height:45px; background:#f1f1f1; display:block}
.photomain03 ul{margin-top:-10px}
.photomain03 ul li{width:320px; float:left; margin:155px 0px 0px 15px; background:#fff; position:relative}
.photomain03 ul li.li02{width:310px; float:right;margin-left:0px;}
.photomain03 ul li .userface{ position:absolute;margin-top:-115px; margin-left:115px}
.photomain03 ul li .userface .userfacebg{width:80px; height:80px; background:url(userfacebg.png) no-repeat; position:absolute;}
.photomain03 ul li .userface img{width:80px; height:80px;}
.photomain03 ul li img.photosize{width:100%; height:190px;margin-top:15px;}
.photomain03 ul li{ line-height:20px;color:#999}
.photomain03 ul li .ctbox{ padding:15px;}
.photomain03 ul li .ctbox a{font-size:18px;}
.photomain03 ul li .ctbox b{font-weight:normal;}
.photomain03 ul li .ctbox b a{color:#3c8fc6;font-size:12px;}
.photomain03 ul li .ctbox .downbg{width:21px; height:11px; background:url(down.gif) no-repeat 50% 0; position:absolute; left:142px;top:-11px}
.photomain03 ul li.li02 .ctbox .downbg{left:145px}


/*内容页*/
.ipc_head{height:35px;background:#fff; line-height:35px;border-bottom:1px solid #ddd}
.ipc_head .i_m{width:980px;margin:0 auto;color:#ccc}
.ipc_head .i_m a{color:#666;margin:1px}
.ipc_nr{width:980px;margin:0 auto;}
.ipc_nr h1{line-height:65px;font-size:26px;padding-top:5px; height:52px;font-family:"\5FAE\8F6F\96C5\9ED1";}
.ipc_nr .pic_tt{ line-height:35px; color:#666;height:50px}
.ipc_nr .pic_tt span{color:#888;padding-left:15px}
.ipc_nr .pic_tt font{font-size:12px;color:#2783d0; font-family:Arial;}
.ipc_nr .tp_ct{padding:15px;background:#fff; text-align:center;}
.ipc_nr .tp_ct .imagetop{ float:right;color:#999;}
.ipc_nr .tp_ct .imagetop a{color:#2783d0}
.ipc_nr .tp_ct .imagetop span{ font-family:Arial, Helvetica, sans-serif;}
.ipc_nr .tp_ct img{ max-width:780px;_width:780px}
.ipc_nr .tp_ct a{color:#fff;}
.ipc_nr .fy{background:#fff;color:#999;padding-left:15px;padding-bottom:15px; line-height:20px;}
.ipc_nr .fy a{color:#2783d0}
.ipc_nr .tp_into{background:#fff;padding:15px;margin-top:15px;color:#666; line-height:20px}
.ipc_nr .tp_into h4{ line-height:16px;height:30px;font-family:"\5FAE\8F6F\96C5\9ED1";font-weight:normal}



.wylxyzbtn{width:350px;margin:0 auto;margin-top:30px; text-align:center;font-size:18px; background:#e1e1e1; height:40px; line-height:40px;}
.wylxyzbtn a{ display:block}
.wylxyzbtn a:hover{ background:#47a1dd; text-decoration:none;color:#fff;}


/*分页样式*/
#fenye{clear:both;margin:15px;height:35px; text-align:right;}
#fenye img{ margin:0px 2px}
#fenye a{text-decoration:none; font-size:14px;height:24px;border-radius: 3px; text-align:center; line-height:24px; float:left;color:#666;margin-left:5px;border:1px solid #e5e5e5;border-bottom:1px solid #ccc; background:#fff}
#fenye .prev,#fenye .next{width:23px; text-align:center;}
#fenye .prev,#fenye .next img{margin-top:8px}
#fenye a.curr{width:23px; color:#fff; text-align:center; background:#3391cf;border:1px solid #3391cf}
#fenye a.curr:hover{color:#fff;}
#fenye a.num{width:23px;}
#fenye a:hover{color:#333; text-decoration:none;}
#fenye span{ line-height:30px;padding-left:5px; font-family:Arial, Helvetica, sans-serif}
#fenye span#totalpage{padding-left:0px}


/*尾部通用*/
.fr{height:35px; line-height:35px; background:#fff url(../home/frbg.png) repeat-x 0 -2px;margin-top:15px; text-align:center;color:#666}
.fr h4{width:79px; height:76px; background:url(../home/bg21.png); position:absolute;margin:-17px 0px 0px -17px}
.fr a{padding:0px 6px 0px 8px;color:#666; background:url(../home/frbg02.png) no-repeat 0 50%;}
.end{width:980px;margin:0 auto;padding-top:5px; text-align:center; height:20px;color:#999;}
.end a{ line-height:20px;padding:0px 4px 0px 4px;color:#666}
.copyright{ text-align:center; line-height:22px;color:#888;height:120px; font-family:Arial, Helvetica, sans-serif}
.copyright img{ margin-left:10px}
/*尾部通用over*/

