<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	
	<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="{$GetInstallDir}images/photo/photo.css" rel="stylesheet" />
    <link href="{$GetInstallDir}images/home.css" rel="stylesheet" />
	<title>{$GetSiteTitle}-图片频道-频道首页</title>
	<script src="{$GetInstallDir}ks_inc/jquery.js" type="text/javascript"></script>
	<script src="{$GetInstallDir}ks_inc/kesion.common.js" type="text/javascript"></script>
	
	<SCRIPT language=javascript>function T(n){document.getElementById("ArticleCnt").style.fontSize=n+"px";}</SCRIPT>
	<SCRIPT>  
	function srcMarquee(){
	this.ID = document.getElementById(arguments[0]);
	if(!this.ID){this.ID = -1;return;}
	this.Direction = this.Width = this.Height = this.DelayTime = this.WaitTime = this.Correct = this.CTL = this.StartID = this.Stop = this.MouseOver = 0;
	this.Step = 1;
	this.Timer = 30;
	this.DirectionArray = {"top":0 , "bottom":1 , "left":2 , "right":3};
	if(typeof arguments[1] == "number")this.Direction = arguments[1];
	if(typeof arguments[2] == "number")this.Step = arguments[2];
	if(typeof arguments[3] == "number")this.Width = arguments[3];
	if(typeof arguments[4] == "number")this.Height = arguments[4];
	if(typeof arguments[5] == "number")this.Timer = arguments[5];
	if(typeof arguments[6] == "number")this.DelayTime = arguments[6];
	if(typeof arguments[7] == "number")this.WaitTime = arguments[7];
	if(typeof arguments[8] == "number")this.ScrollStep = arguments[8]
	this.ID.style.overflow = this.ID.style.overflowX = this.ID.style.overflowY = "hidden";
	this.ID.noWrap = true;
	this.IsNotOpera = (navigator.userAgent.toLowerCase().indexOf("opera") == -1);
	if(arguments.length >= 7)this.Start();
	}
	srcMarquee.prototype.Start = function(){
	if(this.ID == -1)return;
	if(this.WaitTime < 800)this.WaitTime = 800;
	if(this.Timer < 20)this.Timer = 20;
	if(this.Width == 0)this.Width = parseInt(this.ID.style.width);
	if(this.Height == 0)this.Height = parseInt(this.ID.style.height);
	if(typeof this.Direction == "string")this.Direction = this.DirectionArray[this.Direction.toString().toLowerCase()];
	this.HalfWidth = Math.round(this.Width / 2);
	this.BakStep = this.Step;
	this.ID.style.width = this.Width;
	this.ID.style.height = this.Height;
	if(typeof this.ScrollStep != "number")this.ScrollStep = this.Direction > 1 ? this.Width : this.Height;
	var msobj = this;
	var timer = this.Timer;
	var delaytime = this.DelayTime;
	var waittime = this.WaitTime;
	msobj.StartID = function(){msobj.Scroll()}
	msobj.Continue = function(){
	if(msobj.MouseOver == 1){
	setTimeout(msobj.Continue,delaytime);
		 }
		 else{ clearInterval(msobj.TimerID);
	msobj.CTL = msobj.Stop = 0;
	msobj.TimerID = setInterval(msobj.StartID,timer);
		 }
		}
	msobj.Pause = function(){
	msobj.Stop = 1;
	clearInterval(msobj.TimerID);
	setTimeout(msobj.Continue,delaytime);
		}
	msobj.Begin = function(){
	   msobj.ClientScroll = msobj.Direction > 1 ? msobj.ID.scrollWidth : msobj.ID.scrollHeight;
	   if((msobj.Direction <= 1 && msobj.ClientScroll <msobj.Height) || (msobj.Direction > 1 && msobj.ClientScroll <msobj.Width))return;
	   msobj.ID.innerHTML += msobj.ID.innerHTML;
	   msobj.TimerID = setInterval(msobj.StartID,timer);
	   if(msobj.ScrollStep < 0)return;
	   msobj.ID.onmousemove = function(event){
		   if(msobj.ScrollStep == 0 && msobj.Direction > 1){
	var event = event || window.event;
	if(window.event){
	if(msobj.IsNotOpera){msobj.EventLeft = event.srcElement.id == msobj.ID.id ? event.offsetX - msobj.ID.scrollLeft : event.srcElement.offsetLeft - msobj.ID.scrollLeft + event.offsetX;}
	else{msobj.ScrollStep = null;return;}
	}
	else{msobj.EventLeft = event.layerX - msobj.ID.scrollLeft;}
	msobj.Direction = msobj.EventLeft > msobj.HalfWidth ? 3 : 2;
	msobj.AbsCenter = Math.abs(msobj.HalfWidth - msobj.EventLeft);
	msobj.Step = Math.round(msobj.AbsCenter * (msobj.BakStep*2) / msobj.HalfWidth);
	}
	}
	msobj.ID.onmouseover = function(){
	if(msobj.ScrollStep == 0)return;
	msobj.MouseOver = 1;
	clearInterval(msobj.TimerID);
	}
	msobj.ID.onmouseout = function(){
	if(msobj.ScrollStep == 0){
	if(msobj.Step == 0)msobj.Step = 1;
	return;
	}
	msobj.MouseOver = 0;
	if(msobj.Stop == 0){
	clearInterval(msobj.TimerID);
	msobj.TimerID = setInterval(msobj.StartID,timer);
	}}}
	setTimeout(msobj.Begin,waittime);
	}
	srcMarquee.prototype.Scroll = function(){
	switch(this.Direction){
	case 0:
	this.CTL += this.Step;
	if(this.CTL >= this.ScrollStep && this.DelayTime > 0){
	this.ID.scrollTop += this.ScrollStep + this.Step - this.CTL;
	this.Pause();
	return;
	}
	else{
	if(this.ID.scrollTop >= this.ClientScroll){this.ID.scrollTop -= this.ClientScroll;}
	this.ID.scrollTop += this.Step;
	}
	break;
	case 1:
	this.CTL += this.Step;
	if(this.CTL >= this.ScrollStep && this.DelayTime > 0){
	this.ID.scrollTop -= this.ScrollStep + this.Step - this.CTL;
	this.Pause();
	return;
	}
	else{
	if(this.ID.scrollTop <= 0){this.ID.scrollTop += this.ClientScroll;}
	this.ID.scrollTop -= this.Step;
	}
	break;
	case 2:
	this.CTL += this.Step;
	if(this.CTL >= this.ScrollStep && this.DelayTime > 0){
	this.ID.scrollLeft += this.ScrollStep + this.Step - this.CTL;
	this.Pause();
	return;
	}
	else{
	if(this.ID.scrollLeft >= this.ClientScroll){this.ID.scrollLeft -= this.ClientScroll;}
	this.ID.scrollLeft += this.Step;
	}
	break;
	case 3:
	this.CTL += this.Step;
	if(this.CTL >= this.ScrollStep && this.DelayTime > 0){
	this.ID.scrollLeft -= this.ScrollStep + this.Step - this.CTL;
	this.Pause();
	return;
	}
	else{
	if(this.ID.scrollLeft <= 0){this.ID.scrollLeft += this.ClientScroll;}
	this.ID.scrollLeft -= this.Step;
	}
	break;
	}
	} 
	</SCRIPT>
	<style>
		.fr{ background:#fff url({$GetInstallDir}images/home/frbg.png) repeat-x 0 -2px}
		#Scroll{width:280px; height:25px; line-height:25px; overflow:hidden}
		#Scroll a{ display:block;color:#444}
	</style>

	<script type="text/javascript">
	//===========================点击展开关闭效果====================================
	function openShutManager(oSourceObj,oTargetObj,shutAble,oOpenTip,oShutTip){
	var sourceObj = typeof oSourceObj == "string" ? document.getElementById(oSourceObj) : oSourceObj;
	var targetObj = typeof oTargetObj == "string" ? document.getElementById(oTargetObj) : oTargetObj;
	var openTip = oOpenTip || "";
	var shutTip = oShutTip || "";
	if(targetObj.style.display!="none"){
	   if(shutAble) return;
	   targetObj.style.display="none";
	   if(openTip && shutTip){
		sourceObj.innerHTML = shutTip; 
	   }
	} else {
	   targetObj.style.display="block";
	   if(openTip && shutTip){
		sourceObj.innerHTML = openTip; 
	   }
	}
	}
	</script>

</head>

<body>
	{KS_头部通用}
	<div class="photonav">
		<div class="mainbox">
			<div class="l">
				<a href="/" class="homebtn" title="KESION" onclick="" target=_blank>&nbsp;</a>
				<a href="#NAME1" class="downbtn" onclick="openShutManager(this,'lmbox001')">&nbsp;</a>
			</div>
			<div class="r">

				<DIV id=Scroll>
					<DIV id=ScrollMe style="OVERFLOW: hidden; HEIGHT: 25px">
						{KS_热门图集滚动}
					</DIV>
				</DIV>
				<SCRIPT>new srcMarquee("ScrollMe",0,1,808,25,30,2000,2000,25)</SCRIPT>
				
			</div>
		</div>	
	</div>
	<div class="clear"></div>
	<div class="wrap">
		<div class="clear"></div>
		<div class="mainbox">
				<div id="lmbox001" style="display:none">
						
						{KS_图片栏目}
						
				</div>
		
		</div>
		
		<div style="width:5px; height:5px;position:absolute;top:165px; text-indent:-999999px;"><a name="NAME1">自动弹到此处</a></div>
		
        <link rel="stylesheet" href="{$GetInstallDir}images/photo/ui.tabs.css" type="text/css">
        <script src="{$GetInstallDir}images/photo/jquery-1.2.4b.js" type="text/javascript"></script>
        <script src="{$GetInstallDir}images/photo/ui.core.js" type="text/javascript"></script>
        <script src="{$GetInstallDir}images/photo/ui.tabs.js" type="text/javascript"></script>
        <script type="text/javascript">
            $(function() {
                $('#rotate > ul').tabs({ fx: { opacity: 'toggle' } }).tabs('rotate', 6000);
            });
        </script>  
		<div id="rotate">
				<ul>
					<div class="btnbox">
					<li><a href="#fragment-1"><span>1</span></a></li>
					<li><a href="#fragment-2"><span>2</span></a></li>
					<li><a href="#fragment-3"><span>2</span></a></li>
					</div>
				</ul>
				{KS_图片幻灯展示}
		</div>

		<div class="clear"></div>
		<div class="photomain02">
			<h4><span><img src="{$GetInstallDir}images/photo/phototitle1.png" /></span></h4>
			<div class="clear"></div>
			
				<script type="text/javascript" src="{$GetInstallDir}images/photo/jquery.easing.1.3.js"></script>
				<script>
				$(document).ready(function () {
			
					// transition effect
					style = 'easeOutQuart';
			
					// if the mouse hover the image
					$('.photobox').hover(
						function() {
							//display heading and caption
							$(this).children('div:first').stop(false,true).animate({top:0},{duration:600, easing: style});
							$(this).children('div:last').stop(false,true).animate({bottom:0},{duration:600, easing: style});
						},
			
						function() {
							//hide heading and caption
							$(this).children('div:first').stop(false,true).animate({top:-190},{duration:600, easing: style});
							$(this).children('div:last').stop(false,true).animate({bottom:-190},{duration:600, easing: style});
						}
					);
			
				});
				</script>
				
				
				{KS_近期更新图集}
				
		</div>
		<div class="clear"></div>
		<div class="photomain03">
			<h4><span><img src="{$GetInstallDir}images/photo/phototitle2.png" /></span></h4>
			<div class="clear"></div>
			<ul>
			   {SQL_图片频道会员作品Show()}
			 
			</ul>
		</div>
		<div class="clear"></div>
		<div class="wylxyzbtn"><a href="{$GetInstallDir}user/PostInfo.aspx?classId=829">我也来秀一张</a></div>
		<div class="clear blank10"></div>
		
		{KS_尾部通用}		
		
	</div>
</body>
</html>
